body.nb-active
{
    margin-right: 505px;
}

.nb_sidebar
{
    position: fixed;
    /* An arbitrarily high number to ensure it is visible above other elements on the webpage when loaded */
    z-index: 1000;
    top: 0;
    right: 0;
    line-height: normal;
}

.nb_sidebar .nb-nav
{
    display: none;
}

.nb_sidebar > div.nb-viewport
{
    margin-left: 4px;
}

body.nb-active .nb_sidebar .nb-nav
{
    display: block;
}

body.nb-active .nb_sidebar
{
    bottom: 0;

    width: 500px;

    background-color: #fff;
}

.nb-error
{
    padding: 8px;

    cursor: pointer;

    box-shadow: inset 0 0 8px rgba(0,0,0,.5);
}

div.nb_controls_inactive
{
    position: absolute;
}


/* HTML5 comments */
.nb-comment-highlight
{
    padding: 2px 0;

    background-color: rgba(255, 204, 1, .2);
}

/*nested comments shouldn't stack padding*/
.nb-comment-highlight > .nb-comment-highlight > .nb-comment-highlight {
    padding: 0px;
}

/*override to disable nb highlighting*/
.nb-no-highlight .nb-comment-highlight {
    background-color: rgba(255, 204, 1, .02);
    }

.nb-comment-highlight.hovered
{
    background-color: rgba(1, 99, 255, .2);
}

.nb-comment-highlight.selected
{
    background-color: rgba(1, 99, 255, .3);
}

.nb_iframe
{
    position: fixed;
    z-index: 2;
    top: 10%;
    left: 10%;

    width: 70%;
    height: 500px;
}

.nb_iframe.nb_hidden
{
    display: none;
}

#addnote-widget
{
    position: absolute;
    top: 300px;
    left: 200px;

    display: block;

    width: 24px;
    height: 24px;
    padding: 0;
}

#addnote-widget > button
{
    display: block;

    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: middle;
}

/** make printing work properly */
@media print
{
    .nb_sidebar
    {
        display: none;
    }

    .nb-comment-highlight
    {
        background-color: transparent;
    }

    body,
    body.nb-active
    {
        margin: auto;
    }
}

.nb_sidebar .nb--guest .nb-nav {
    height: 24px;
}

.nb_sidebar .nb--guest #nb-main-nav .nb-nav__ul {
    top: 24px;
}

.nb_sidebar #nb-main-nav a {
    text-decoration: none;
}

.nb_sidebar .nb--guest a.nb-nav__logo {
    font-size: 18px;
}

.nb_sidebar .nb--guest .nb-nav__screenname {
    font-size: 12px;
    padding: 4px 17px;
}

.nb_sidebar .nb--guest .nb-nav__btn {
    font-size: 14px;
    padding-top: 4px;
}

.nb_sidebar .nb--guest .nb-nav__icon-bar {
    width: 22px;
    margin: 3px auto;
    max-width: 22px;
}

.nb_sidebar .nb--guest .nb-nav__icon-bar--open:nth-child(1),
.nb_sidebar .nb--guest .nb-nav__icon-bar--open:nth-child(3) {
  max-width: 16px;
}

.nb_sidebar .nb--guest .nb-nav__icon-bar--open:nth-child(2) {
  max-width: 0;
}
