
/*** ESSENTIAL STYLES ***/
.nb-dropdown-menu,
.nb-dropdown-menu *
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.nb-dropdown-menu ul
{
    display: none;
}
.nb-dropdown-menu ul li
{
    width: 100%;
}
.nb-dropdown-menu li
{
    position: relative;

    float: left;
}
.nb-dropdown-menu a
{
    display: block;

    padding: 4px 15px;

    text-decoration: none;
}
.nb-dropdown-menu li:hover ul
{
    position: absolute;

    display: block;
}

.nb-dropdown-menu > li > a
{
    background-image: url('/content/data/icons/png/arrows.png');
    background-repeat: no-repeat;
    background-position: -10px -94px;
}

.nb-dropdown-menu > li:hover > a
{
    background-image: none;
}

.nb-dropdown-menu > li > a
{
    color: #034;
}

.nb-dropdown-menu li li,
.nb-dropdown-menu li li > a
{
    color: #eecd2b;
    background-color: #034;
}

.nb-dropdown-menu li:hover,
.nb-dropdown-menu li:hover > a
{
    visibility: inherit;

    color: #ffea80;
    outline: 0;
    background-color: #16495a;
}
