<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/base/jquery-ui.css" rel="stylesheet" ></link>
<script>
  $("title").html("NB Disclaimer");
</script>
<style>
  span.ui-icon {
    display: inline-block;
  } 
</style>

<h1>NB Disclaimer</h1>

<p>NB has been designed with the academic community in mind:  it uses no encryption, doesn't try too hard to protect itself from malicious users,  stores cookies on your computer for quite a long time (unless you log out)... To summarize, don't put confidential information on NB !</p>

<p>NB is a <em>research project</em> and <b>we can't provide any kind of warranty</b> including, but not limited to the availability of the service, the confidentiality of your annotations, the vulnerability of NB to computer attacks etc...</p>