<div id='invite_users_dialog'>
  <h2>Subscribe link</h2>
  <!-- The link below gets set in files.js -->
  <a class="subscribe-link" href="#"></a>
  <br />
  <br />
  <h2>Send Invitation</h2>
  <p>To access the following group  <select id='invite_users_ensemble'/></p>
  <p>For a particular section <select id='invite_users_section'/> <em>(Optional)</em></p>
  <br/>
  <p class='fixdialog' >Enter the email address(es, separated by commas) of the people to whom you wish to send this invite</p>
  <textarea id='invite_users_emails'  rows='5' cols='50'/>
  <br/>
  <input type='checkbox' id='invite_users_admin' style='padding-left: 20px' />
  <label for='invite_users_admin'>Grant administrative rights to these users</label>
  <br />
  <input type='checkbox' id='invite_users_direct' style='padding-left: 20px' />
  <label for='invite_users_direct'>Add users directly (don't send e-mail if user already exists)</label>
  <br/>
  <br/>
  <p class='fixdialog' ><em>Optional</em> Add a personal message (will appear on the invitation)</p>
  <textarea id='invite_users_msg'  rows='7' cols='50'/>
</div>
