<div style="display:none">
<div id='login_user_dialog' >
<table cellspacing='5px'>
   <tr>
      <td>Email</td>
      <td><input type='text'  id='login_user_email2' ></input></td>
   </tr>
   <tr>
      <td>Password</td>
      <td><input type='password'  id='login_user_password2' ></input></td>
   </tr>
   <tr>
      <td/>
      <td><span id='loginbutton_classic2'/><a style='padding-left: 10px;  font-size: x-small' href='/password_reminder'>Lost password ?</a></td>
   </tr>
</table>
<div class='form_errors'/></div>
</div>