<script type="text/javascript" src="/content/compiled/logout_NB.js"></script>
<script>
  $("title").html("You are logged out");
</script>

<h1>Thanks for visiting the NB site, you are now logged out </h1>

