<div class='minisplashscreen ui-corner-all'>
  <div id='splash-welcome'>Welcome to NB !</div>
  <div id='nb-def'>...a forum on top of every PDF.</div>
  <ul id='splash-list-instructions'>
    <li>Use your mouse or the &larr; and &rarr; keys to move from discussion to discussion.</li>
    <li>Use your mouse or the &uarr; and &darr; keys to scroll up and down the document.</li>
    <li>New user ? <a class='link-style nb-register' href="javascript:$.concierge.get_component('register_user_menu')();">Register</a> now to be able to post comments...</li>
    <li>Existing user ? <a class='link-style nb-login' href="javascript:$.concierge.get_component('login_user_menu')();">Log in</a> now...</li>
  </ul>
  <a target='_blank' href='/tutorial'>More help...</a>
</div>