<script>
  $("title").html("NB Confirmation Pending");
</script>

<h1>Thanks for registering</h1>

You should receive a confirmation email in a few seconds. Use the link provided in the email to activate your NB account.

