<script>
  $("title").html("NB password reset request");
</script>
<style>

  .section {
    font-size: 16px;
  }

  h1 {
    margin-bottom: 10px;
  }

  input {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }

  button {
    width: 220px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #1e88e5;
    color: #fff;
    cursor: pointer;
    padding: 7px;
  }

  button:hover,
  button:focus {
    background-color: #1879cd;
  }

	.email{
    font-size: large;
    font-weight: bold;
  }

  .error-msg{
    display: none;
    color: #FF0000;
    font-weight: normal;
  }

  #success{
    display: none;
  }
</style>


<h1>Password Reset</h1>

<div class="section" id="form1">
  <input type="text" id="email" placeholder="Your email" />
  <button onclick="Lost.onLostButton()" >Send me password reset email</button>
  <div class="error-msg"> 
    <span class="email"></span> is not a valid <span class="n">n</span><span class="b">b</span> user. Please try again
  </div>
</div>

<div class="section" id="success" label="Password reset email sent !" >
  A password reset email has been sent to:  <span class="email"></span><br/> <span>If you don't see it in a few moments, please check your <b>Spam Folder</b> for messages from <b>NB Password Reset Bot</b>.</span>
</div>

<script>
  $("#email").focus();

  $('#email').keypress(function (e) {
   var key = e.which;
   if(key == 13)  // the enter key code
    {
      Lost.onLostButton();
      return false;  
    }
  });   
</script>
<script type="text/javascript" src="/content/compiled/password_reminder_NB.js"></script>