<script>
  $("title").html("Your NB Settings");
</script>
<h1>NB Settings for <span id="your_firstname"/> <span id="your_lastname"/> (<span id="your_email"/>)</h1>
<div class="settings_panel">
  <ul>
    <li>
      <div class="settings-section-title">Personal Details</div>
      <div class="settings-section-body">
        <table>
          <tr>
            <td>Firstname</td>
            <td>
              <input type="text" id="firstname" onkeyup="Pers.validateFirstName(event)" value="{{firstname}}" />
              <span id="firstname_msg" class="error"/>
            </td>
          </tr>
          <tr>
            <td>Lastname</td>
            <td>
              <input type="text" id="lastname" onkeyup="Pers.validateLastName(event)" value="{{lastname}}" />
              <span id="lastname_msg" class="error"/>
            </td>
          </tr>
        </table>
      </div>
    </li>
    <li>
      <div class="settings-section-title">Authentication</div>
      <div class="settings-section-body">
        <table>
          <tr>
            <td>New Password</td>
            <td><input type="password" id="new_password1" onkeyup="Pers.validateNewPassword(event)"></input></td>
          </tr>
          <tr>
            <td> Please Retype</td>
            <td> <input type="password" id="new_password2" onkeyup="Pers.validateNewPassword(event)" ></input></td>
          </tr>
        </table>
        <span id="newpassword_msg"/>
      </div>
    </li>
    <li>
      <div class="settings-section-title" >Email Notifications</div>
      <div  class="settings-section-body">
        <table>
          <tr>
            <td>Comments that I wrote</td>
            <td><select  class="settings_selector" id_item="email_confirmation_author" onchange="Pers.on_setting_change(event)"/></td>
          </tr>
          <tr>
            <td>New reply in a discussion to which I participated</td>
            <td><select class="settings_selector" id_item="email_confirmation_reply_author" onchange="Pers.on_setting_change(event)"/></td>
          </tr>
          <tr>
            <td>New comments in classes for which I'm a staff member (if any)</td>
            <td><select class="settings_selector" id_item="email_confirmation_all" onchange="Pers.on_setting_change(event)"/></td>
          </tr>
          <tr>
            <td>New comments in which I am tagged</td>
            <td><select class="settings_selector" id_item="email_confirmation_tags" onchange="Pers.on_setting_change(event)"/></td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
  <button id="cancel_button" class="cancel">Cancel</button> <button id="save_button" class="save">Save</button></div>
</div>