
div.nb-view {
    margin-bottom: 20px;
    font-family: Tahoma,Helvetica,arial,sans-serif;
    font-size: small;
    border: thin solid #c0c0c0;
    background-color: #f0f0f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}


/* original document snippet */

div.nb-view img.material {
    -moz-user-select: none;
    -webkit-border-radius: 5px;

}

div.nb-view div.selection{
    background-color: #A5B5E5;
    border-color: #333377;
    opacity: 0.4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: thin solid #777777;
    position: absolute;
    z-index: 2;
}

div.nb-view div.innermaterial{
    cursor: move;
    position: absolute;
}

div.nb-view img.material {
 -moz-user-select: none;
 -webkit-border-radius: 5px;

}

div.nb-view div.material {
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
}


/* comments */

div.nb-view div.note-lens {
    border: thin solid #FEFEFE;
    padding-bottom: 5px;
    padding-top: 5px;
}

div.nb-view span.created {
    color: #A0A0A0;
}


div.nb-view span.author {
    color: #A0A0A0;
    font-style: italic;
    margin-left: 10px;
}

div.nb-view div.threadview-branch {
    padding-left: 10px;
    padding-top: 5px;
}


/*
div.nb-view {

}
*/
