.nb_sidebar{
right: 0px;
top: 0px;
position: fixed;
bottom: 0px;
width: 400px;
z-index: 2;
background-color: #ffffff;
} 

body{
margin-right: 405px;
}

.nb_sidebar.nb_inactive{

}

div.nb_controls_inactive{
position: absolute;
}


/* HTML5 comments */
  .nb-comment-highlight {
            color: #222;
            background-color: rgba(255, 204, 1, .2);
            /*border-radius: 3px;*/
            padding: 2px 0 2px 0;
        }
        
        .nb-comment-highlight.prominent {
            background-color: rgba(1, 99, 255, 0.2);
        }

        .nb-comment-highlight.activated {
            background-color: rgba(1, 99, 255, 0.3);
        }
