
div.nb-view
{
    font-family: Tahoma,Helvetica,arial,sans-serif;
    font-size: small;

    margin-bottom: 20px;

    border: thin solid #c0c0c0;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
    background-color: #f0f0f0;
}


/* original document snippet */

div.nb-view img.material
{
    -moz-user-select: none;

    -webkit-border-radius: 5px;
}

div.nb-view div.selection
{
    position: absolute;
    z-index: 2;

    opacity: .4;
    border: thin solid #777;
    border-color: #337;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
    background-color: #a5b5e5;
}

div.nb-view div.innermaterial
{
    position: absolute;

    cursor: move;
}

div.nb-view img.material
{
    -moz-user-select: none;

    -webkit-border-radius: 5px;
}

div.nb-view div.material
{
    position: relative;

    overflow: hidden;

    margin: 0 0 20px;
}


/* comments */

div.nb-view div.note-lens
{
    padding-top: 5px;
    padding-bottom: 5px;

    border: thin solid #fefefe;
}

div.nb-view span.created
{
    color: #a0a0a0;
}


div.nb-view span.author
{
    font-style: italic;

    margin-left: 10px;

    color: #a0a0a0;
}

div.nb-view div.threadview-branch
{
    padding-top: 5px;
    padding-left: 10px;
}


/*
div.nb-view {

}
*/
