.nb_fullscreen, .nb_fullscreen>body, div.viewport, .nb-viewport, .outerview {
	overflow: auto;
}

body {
	background-color: rgb(22,73,90);
}
.main-wrapper {
	margin: 10px 20px;
}

.controls {
	margin-bottom: 10px;
	display: inline-block;
}

.controls select {
	margin-right: 20px;
}

#pages-container {
	clear: both;
}

.panel {
	background-color: #fff;
	border-radius: 12px;
	padding: 10px;
	margin-bottom: 20px;
}

label {
	font-weight: bold;
}
.page-wrap {
	float: left;
/*	width: 170px;
	height: 220px;*/
	/*text-align: center;*/
	border: 1px solid;
	font-size: 10px;
	font-weight: bold;
	position: relative;
	background-color: #ebebeb;
}

.header-link {
	text-decoration: none;
	color: rgb(255,234,128);
}

.header-link:hover {
	color: #6E97EB;
}

.heatmap {
	padding-top:20px;
}

.page-num {
	font-size: 18px;
	display: inline-block;
	float: left;
	margin: 5px;
	padding: 5px 3px;
	clear: both;
	-moz-border-radius: 15px;
	border-radius: 15px;
	min-width: 20px;
	text-align: center;
	background-color: #FAFAF5;
	font-weight:normal;
}

.page-stats {
	float: right;
	margin: 4px;
}

.page-img {
/*	width: 170px;
	height: 220px;*/
	/*width: 25%;*/
	/*height: 25%;*/
	float:left;
}

.clearfix {
	clear: both;
}

.highlight {
	background-color:rgba(255,245,48, 0.15);
	position: absolute;
	z-index: 2;
	border: 1px solid rgba(0,0,0,0.4);
}

.pg-preview {
	position:absolute;
	z-index:3;
	width:/*510px;
	height*/:660px;
	/*top: 50%;*/
	top: 0;
	left: 20%;
/*	margin-top:-330px;
	margin-left:-255px;*/
	display:none;
}

.img-enlarged {
	width: 510px;
}

.page-label {
	cursor: default;
}

/*.page-label:hover {
	background-color:#e0e0e0;
	margin:5px;
	border-radius:50%;
}*/

.color-stat {
	opacity: 0.7;
}

.num-threads, .threads {
	color: #3366CC;
}

.num-annotations, .annotations {
	color: #DC3912;
}

.num-questions, .questions {
	color: #E19900;
}

.num-participants, .participants {
	color: #109618;
}

.chart-toggle.annotations{
	background-color: #DC3912;
}

.chart-toggle.questions {
	background-color: #E19900;
}

.chart-toggle.participants {
	background-color: #109618;
}

.chart-toggle {
	color: #fff;
	/*opacity: 0.5;*/
	background: none transparent; 
	border: none;
}

.chart-toggle.on {
	opacity: 1.0;
}

#chart-controls {
	width: 800px;
	margin: 0 auto;
}

.marker {
    width: 1em;
    height: 1em;
    border-radius:50%;
    background-color: green;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
}

.chart_div {
	margin-bottom: 20px;
}

.tip {
	margin-right: 20px;
	float:right;
	padding: 3px 10px;
	font-style: italic;
	border-radius: 5px;
	-moz-border-radius: 5px;
}