div.filesView{
overflow-y: hidden;
height: 100%;
}


.contextMenu {
        font-family: Verdana,Arial,Helvetica,sans-serif;
}

td.filesview_ftitle:hover{
background-color: #ffffa0;
cursor: context-menu;
}



#filesview-splash{
position: absolute;
width: 100%;
height: 100%;
background-color: #f0f0f0;
}

button[action=add_file]>ins{
background-image: url(/content/data/icons/png/default_theme.png);
width: 16px;
height: 16px;
}



div.filesView div.filesView-header {
background-color: #f5f5f5;
border-bottom: thin solid #f0f0f0;
padding: 5px;
//margin-bottom: 5px;

}


div.filesView-panel {
//padding-bottom: 20px;
overflow-y: auto;
border-top: thin solid #a0a0a0;
}

div.filesView a {
text-decoration: none;
}

div.filesView div.nofiles{
font-size: large; 
color: #c0c0c0;
font-style: italic;
}

span.yesno{
padding-left: 30px;
}

div.filesView-header > a {
margin-left: 15px;
padding: 3px 5px 3px 5px;
border: thin solid #c0c0c0;
background-color: #d7d7d7;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

a.collagelink{
margin-right: 10px;
padding: 0px;
border: thin solid #c0c0c0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

span.collagelink-caption{
background-color: #909090;
color: #f0f0f0;
padding-left: 5px;
padding-right: 5px;

}

div.collagelink-number{
font-weight: bold;
background-color: #f0f0f0;
color: #707070;
min-width: 1.5em;
display: inline-block;
padding-left: 5px;
margin-right: 1px;
text-decoration: underline;
}


span.filesView-item-numpage{
color: #a0a0a0;
padding-left: 10px;
}

span.filesView-question-numvotes{
color: #a0a0a0;
font-size: large;
}

span.filesView-item-ensembleinfo{
color: #a0a0a0;
padding-left: 10px;
//font-family: serif;
}

span.filesView-question-when{
color: #a0a0a0;
}

div.filesView-floatright{
float: right;
}

#filesView-question-list > div{
padding: 10px;
}

#filesView-pending-list > div{
padding: 10px;
}

div.filesView-question-body{
    font-family: Trebuchet MS, sans-serif;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

div.filesView-item-odd{
    background-color: #f2f2f2;
}

div.filesView-item-even{
    background-color: #e0e0e0;
}



#filesView-question-header-total{
    font-weight: bold; 
}

#filesView-question-header, #filesView-pending-header{
    background-color: #C0C0C0;
    color: #FFFFFF;
    font-family: trebuchet MS;
    font-size: large;
    padding: 10px;
}

a.button{
    background-color: #C0C0C0;
    border: thin solid #707070;
    border-radius: 5px 5px 5px 5px;
    color: #303030;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 5px;
    padding: 1px 4px;
}

/* snippets  */

div.snippet-selection{
background-color: #A5B5E5;
    border-color: #333377;
    opacity: 0.4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: thin solid #777777;
    position: absolute;
    z-index: 2;
}

div.snippet-innermaterial{
    cursor: move;
    position: absolute;
}

img.snippet-material {
 -moz-user-select: none;
 -webkit-border-radius: 5px;
}

div.snippet-material {
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
    height: 100px;
}
