.notification-badge{
  height: 13px;
  min-width: 10px;
  background-color: #14B1E2;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  padding: 2px 5px 5px 5px;
  text-align: center;
  margin-left: -10px;
  margin-top: -10px;
}

/*div.filesView{
overflow-y: auto;
height: 100%;
}

#filesview-splash{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}*/
/*
button[action=add_file]>ins{

}*/

/*

div.filesView div.filesView-header {
  padding: 15px 15px 10px 15px;
  box-shadow: 0 -1px 8px rgba(0,0,0,0.2);
  background-color: #EFEBE7;
  border-bottom: thin solid #DDD;
}*/

/*div.filesView-header>* {
    vertical-align: middle;
}

div.filesView-header .title{
    font-size: 1.75em;
    padding-right: 1.5em;
}
*//*
div.filesView-panel {
background-color: #f5f5f5;
overflow-y: auto;
padding: 0px !important;
}

div#filesView-accordion {
  padding: 15px;
  border-left: thin solid #DDD;
  border-right: thin solid #DDD;
}

div.filesView div.nofiles{
font-size: large; 
color: #c0c0c0;
font-style: italic;
}

span.yesno{
padding-left: 30px;
}*/
/*
div.filesView-header > a {
margin-left: 15px;
padding: 3px 5px 3px 5px;
background-color: #ccc;
text-decoration: none;
font-weight: bold;
color: #666;
border-radius: 5px;
box-shadow: 0 0 5px -1px rgba(0,0,0,1);
}

div.filesView-header > a:hover {
background-color: #ddd;
}
/*
a.collagelink{
margin-right: 10px;
padding: 0px;
display: inline-block;
overflow: hidden;
text-decoration: none;
height: 23px;
background-color: #EEE;
color: #707070;
font-size: 0.9em;
}*/

span.collagelink-caption{
padding: 5px 0 5px 5px;
font-weight: bold;
}

div.collagelink-number{
font-weight: bold;
display: inline-block;
padding: 5px;
text-align: center;
}

span.filesView-item-numpage{
color: #a0a0a0;
padding-left: 10px;
}

span.filesView-question-numvotes{
color: #a0a0a0;
font-size: large;
}

span.filesView-item-ensembleinfo{
color: #a0a0a0;
padding-left: 10px;
}

span.filesView-when{
color: #a0a0a0;
}

div.filesView-floatright{
float: right;
}

#filesView-question-list > div{
padding: 10px;
}

#filesView-pending-list > div{
padding: 10px;
}

div.filesView-question-body{
    white-space: nowrap;
    overflow-x: hidden;
    font-size: medium;
    text-overflow: ellipsis;
}

div.filesView-item {
    border-bottom: thin solid #e0e0e0;
}

div.filesView-item:nth-child(odd) {
    background-color: #fafafa;
}

div.filesView-item:nth-child(even) {
    background-color: #f2f2f2;
}


span.filesView-reply-body{
    font-size: medium;
    padding-right: 10px;

}

#filesView-question-header-total #filesView-pending-header-total {
    font-weight: bold; 
}

#filesView-question-header, #filesView-pending-header, #filesView-files-header{
    font-size: x-large;
}

a.button{
    background-color: #C0C0C0;
    border: thin solid #707070;
    border-radius: 5px 5px 5px 5px;
    color: #303030;
    border-radius: 5px;
    margin: 0 5px;
    padding: 1px 4px;
}

/* snippets  */

div.snippet-selection{
background-color: #A5B5E5;
    border-color: #333377;
    opacity: 0.4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: thin solid #777777;
    position: absolute;
    z-index: 2;
}

div.snippet-pagenumber {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #F0F0F0;
    border: thin solid #F0F0F0;
    opacity: 0.5;
    padding: 3px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

div.snippet-pagenumber:hover {
    opacity: 1;
}

div.snippet-innermaterial{
    cursor: move;
    position: absolute;
}

img.snippet-material {
 -moz-user-select: none;
 border: thin solid #e0e0e0;
 
}

div.snippet-material {
    margin: 0px auto 5px auto;
    overflow: hidden;
    position: relative;
    height: 100px;
    max-width: 800px;
    background-color: #fafafa;
    border: thin solid #e0e0e0;

}

h3.ui-state-active >  a{
/*background-color: #beebff;*/
background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#fafafa));
background: -moz-linear-gradient(top, #e0e0e0, #fafafa);
}

span.reply-rated-as{
color: #a0a0a0;
}
*/