div.filesView{
overflow-y: auto;
height: 100%;
}


.contextMenu {
        font-family: Verdana,Arial,Helvetica,sans-serif;
}

td.filesview_ftitle:hover{
background-color: #ffffa0;
cursor: context-menu;
}



#filesview-splash{
position: absolute;
width: 100%;
height: 100%;
background-color: #f0f0f0;
}

button[action=add_file]>ins{
background-image: url(/content/data/icons/png/default_theme.png);
width: 16px;
height: 16px;
}



div.filesView div.filesView-header {
background-color: #f5f5f5;
border-bottom: thin solid #f0f0f0;
padding: 5px;
margin-bottom: 5px;

}


div.filesView div.filesView-files {
padding-left: 5px;
}

div.filesView a {
text-decoration: none;
}

div.filesView div.nofiles{
font-size: large; 
color: #c0c0c0;
font-style: italic;
}

span.yesno{
padding-left: 30px;
}

div.filesView-header > a {
margin-left: 15px;
padding: 3px 5px 3px 5px;
border: thin solid #c0c0c0;
background-color: #d7d7d7;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

a.collagelink{
margin-right: 10px;
padding: 0px;
border: thin solid #c0c0c0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

span.collagelink-caption{
background-color: #909090;
color: #f0f0f0;
padding-left: 5px;
padding-right: 5px;

}

div.collagelink-number{
font-weight: bold;
background-color: #f0f0f0;
color: #707070;
min-width: 1.5em;
display: inline-block;
padding-left: 5px;
margin-right: 1px;
text-decoration: underline;
}