div.stackView
{
    overflow-y: auto;

    height: 100%;
}

div.stackView div.card
{
    //position: absolute;
    //display: none;
}

div.stackView div.card.selected
{
    display: block;

    //position: absolute;
    //z-index: 2;
}
