div.spreadsheetView{
overflow-y: auto;
height: 100%;
}

table.spreadsheet {
border-collapse: collapse;
border: this solid #c0c0c0;
}

table.spreadsheet td { border: thin solid #c0c0c0
		     }

table.spreadsheet th { border: thin solid #c0c0c0;
		       	writing-mode:tb-rl;
	-webkit-transform:rotate(300deg);
	-moz-transform:rotate(300deg);
	height: 100px;
		       }

table.spreadsheet td.selected{
    background-color: #a0c0ff;
    border-color: #4070c0;
}


table.spreadsheet span.grade{
    color: #C04040;
    float: right;
    font-weight: bold;
    margin-right: 5px;
}


table.spreadsheet span.stat{
    color: #707070;
    margin-left: 5px;
}