nav.desktop-nav{
  background-color: #fff;
  height: 100px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.1);

}

img#nb-logo{
  margin: 26px 25px 24px 0;
  vertical-align: baseline;
}

.dropdown{
  width: 161px;
  height: 40px;
  margin: 30px 0;
  background-color: #fff;
  border: 1px solid #EDEDF7;
  display: inline-block;
  z-index: 20; /* because perspective widget resize has z-index: 10;*/
}

a.dropdown-toggle{
  overflow-x: hidden;
  color: #A8ADAF;
}

.current-class, .dropdown-caret{
  display: inline-block;
  padding: 10px;
}

.current-class{
  float: left;

}

.dropdown-caret{
  background-color: #EDEDF7;
  float: right;
  color: #fff;
}

ul.dropdown-menu{
  border-radius: 0;
  border-color: #EDEDF7;
  box-shadow: none;
}

ul.dropdown-menu > li > a {
  color: #A8ADAF;
  padding: 10px;
}

ul.dropdown-menu > li > a:hover {
  background-color: #FAFEFF;
}

