.threadselect {
    padding: 0;
    margin: 3px;
}

.threadselect> div {
    clear: both;
    padding: 6px;
    background-color: #F4F4F4;
    border: 1px #DDD solid;
    border-top-width: 0;
    border-bottom-width: 0;
}

.threadselect>div:nth-child(odd)
{
    background-color: #FAFAFA;
}

.threadselect>div input[type=checkbox]
{
    float: left;
}

.threadselect ins.locationflag.lf-numnotes {
    float: left;
    text-decoration: none;
    display: inline-block;
    margin: 2px 4px;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #CCC;
    font-size: 10px;
    color: #888;
}

.threadselect div.location-shortbody-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}