span.numfiles{
    position: absolute;
    right: 20px;
    color: #a0a0a0;
    font-style: italic;
}

div.tree{
background-color: #ffffff !important;
}

div.treeView-header {
background-color: #f5f5f5;
border-bottom: thin solid #f0f0f0;
padding: 5px;
margin-bottom: 5px;
}

div.treeView-header > a {
margin-left: 15px;
padding: 3px 5px 3px 5px;
border: thin solid #c0c0c0;
background-color: #d7d7d7;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


ins.jstree_icon{
background-image: url("/content/data/icons/png/theme_dark.png") !important;
 background-repeat: no-repeat !important;
}

ins.jstree_icon.home{
background-position: -420px 0px !important;
}

ins.jstree_icon.admin{
background-position: -440px 0px !important;
}

ins.jstree_icon.reg{
background-position: -40px 0px !important;
}
