.dropdown{
  width: 161px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #EDEDF7;
  /*border-radius: 5px;*/
}

a.dropdown-toggle{
  overflow-x: hidden;
  color: #A8ADAF;
}

.current-class, .dropdown-caret{
  display: inline-block;
  padding: 10px;
}

.current-class{
  float: left;

}

.dropdown-caret{
  background-color: #EDEDF7;
  float: right;
  color: #fff;
}

ul.dropdown-menu{
  border-radius: 0;
  border-color: #EDEDF7;
  box-shadow: none;
}

ul.dropdown-menu > li > a {
  color: #A8ADAF;
  padding: 10px;
}

ul.dropdown-menu > li > a:hover {
  background-color: #FAFEFF;
}

