{% extends "drafts/splash.html" %}

{% block title %}splash screen - registered user{% endblock %}
{% block splashstyle %}
#splash-welcome{
font-size: xx-large; 
color: #a0a0a0;
}


span.ui-icon{
display: inline-block;
}

{% endblock %}

{% block splashcontent %}
<div id='splash-welcome'>Welcome to NB !</div>
<ul id='splash-list-instructions'>
<li>Use your mouse or the <span class="ui-icon ui-icon-circle-triangle-w"/> and <span class="ui-icon ui-icon-circle-triangle-e" /> keys to move from discussion to discussion.</li>
<li>Use your mouse or the  <span class="ui-icon ui-icon-circle-triangle-n"/> and  <span class="ui-icon ui-icon-circle-triangle-s"/> keys to scroll up and down the document.</li>
<li>Drag across any region on the pdf to create a new discussion</li>
<li>Right-click on any comment to post a reply</li>
</ul>
{% endblock %}
