{% extends "drafts/base.html" %}

{% block title %}splash screen{% endblock %}
{% block overridecss %}
div.content{
width: 450px !important;
height: 350px;
}
{% endblock %}


{% block widgetcss %}

div.minisplashscreen{
padding: 15px;
margin: 15px;
font-family: Tahoma, sans-serif;
color: #808080;
font-size: medium;
background-color: #E0F0FF;
border: thin solid #c0c0c0;
}

#splash-list-instructions{
padding-left: 10px;
}

#splash-list-instructions li{
list-style: none;
}
 

{% block splashstyle %}{% endblock %}
{% endblock %}

{% block content %}
<div class='minisplashscreen ui-corner-all'>
{% block splashcontent %}(this is the block here the splashscreen contents actully goes){% endblock %}
<a target='_blank' href='/help'>More help...</a> 
</div>

{% endblock %}
