{% extends "drafts/base.html" %}

{% block title %}splash screen{% endblock %}
{% block css %}
<style>

div.content{
width: 450px !important;
height: 350px;
}

div.threadview-splashscreen{
padding: 15px;
font-family: Tahoma, sans-serif;
color: #808080;

}
 
#splash-welcome{
font-size: xx-large; 
margin-left: auto;
margin-right: auto;

color: #a0a0a0;
}

</style>
{% endblock %}

{% block content %}
<div class='threadview-splashscreen'>

<span id='splash-welcome'>Welcome to NB !</span> <br/>
NB is a PDF reader and a forum where discussions happen on top of the PDF ! 
Here are a few commands to get you started. </div>
{% endblock %}
