<nav class="nb-nav {{nb-nav-class2}}">
  <a class="nb-nav__logo" href="/">nb</a>
  <div class="nb-nav__btn-panel">
    <span id="login-name" class="nb-nav__screenname">{{screenname}}</span>
    <a class="nb-nav__btn nb-nav__login-btn" href="javascript:NB$.concierge.get_component('login_user_menu')()">Login</a>
    <a class="nb-nav__btn nb-nav__signup-btn" href="javascript:NB$.concierge.get_component('register_user_menu')()">Signup</a>
    <button type="button" class="nb-nav__btn nb-nav__menu-btn">
      <i class="nb-nav__icon-bar"></i>
      <i class="nb-nav__icon-bar"></i>
      <i class="nb-nav__icon-bar"></i>
    </button>
  </div>
  <ul class="nb-nav__ul">
    <li>
      <a class="nb-nav__a nb-nav__account-btn" href="/settings">My Account</a>
    </li>
    <li class="nb-nav__li--section-end">
      <a class="nb-nav__a nb-nav__new-class-btn" href="javascript:NB$.concierge.get_component('addEnsembleMenu')()">Create Class</a>
    </li>
    <li>
      <a class="nb-nav__a" href="/about/">About nb</a>
    </li>
    <li class="nb-nav__li--dropdown">
      <a class="nb-nav__a" href="#"><i class="fa fa-caret-right nb-nav__li--dropdown__icon"></i>FAQ</a>
      <ul class="nb-nav__ul2">
        <li>
          <a class="nb-nav__a2" href="/faq_student/">Students</a>
        </li>
        <li>
          <a class="nb-nav__a2" href="/faq_instructor/">Instructors</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="nb-nav__a" href="/tutorial/">Tutorial</a>
    </li>
    <li>
      <a class="nb-nav__a" href="http://nbproject.vanillaforums.com/">Project Forums</a>
    </li>
    <li>
      <a class="nb-nav__a" href="/disclaimer/">Disclaimer</a>
    </li>
    <li class="nb-nav__li--section-end">
      <a class="nb-nav__a" href="/contact/">Contact us</a>
    </li>
    <li>
      <a class="nb-nav__a nb-nav__logout-btn" href="javascript:NB$.concierge.get_component('logout')()">Logout</a>
    </li>
  </ul>
</nav>
<div class="util_windows">
  <!-- Serves as an anchor for various dialog popups such as login, register, invite users, create new class, etc -->
</div>
<div class="nb-viewport">
  <div class="nb-widget-header" style="height:24px;">
  </div>
</div>

{{!-- <div id="content_main" class="{{main-content-class2}}"">
  {% block content %}{% endblock %}
</div> --}}
<!-- .util_windows will be returned by pers.js and used by files.js (and perhaps a bunch of other places) to append items to the page e.g. the modal for creating a new class. -->
{{!-- <div class="util_windows">
</div> --}}

{{!-- <footer class="footer">
  <p class="footer__p">
    <a class="footer__logo" href="/">nb</a> is a project of the  <a href="http://groups.csail.mit.edu/haystack">Haystack</a> Group at <a href="http://web.mit.edu">MIT</a> and currently works with <a href="http://www.mozilla.com/en-US/firefox/personal.html">Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a> , <a href="http://www.google.com/chrome">Chrome</a> and   <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie">IE9</a>
  </p>
  <p class="footer__p">
    <a href="http://www.twitter.com/planet_nb">Follow us on Twitter</a>
  </p>
</footer> --}}