<nav class="nb-nav {{nb-nav-class2}}">
  <a class="nb-nav__logo" href="/">nb</a>
  <div class="nb-nav__btn-panel">
    <span class="nb-nav__screenname">{{screenname}}</span>
    <a class="nb-nav__btn nb-nav__login-btn" href="javascript:NB$.concierge.get_component('login_user_menu')()">Login</a>
    <a class="nb-nav__btn nb-nav__signup-btn" href="javascript:NB$.concierge.get_component('register_user_menu')()">Signup</a>
    <button type="button" class="nb-nav__btn nb-nav__menu-btn">
      <i class="nb-nav__icon-bar"></i>
      <i class="nb-nav__icon-bar"></i>
      <i class="nb-nav__icon-bar"></i>
    </button>
  </div>
  <ul class="nb-nav__ul">
    <li>
      <a class="nb-nav__a nb-nav__account-btn" href="/settings">My Account</a>
    </li>
    <li class="nb-nav__li--section-end">
      <a class="nb-nav__a nb-nav__new-class-btn" href="javascript:NB$.concierge.get_component('add_ensemble_menu')()">Create Class</a>
    </li>
    <li>
      <a class="nb-nav__a" href="/about/">About nb</a>
    </li>
    <li class="nb-nav__li--dropdown">
      <a class="nb-nav__a" href="#"><i class="fa fa-caret-right nb-nav__li--dropdown__icon"></i>FAQ</a>
      <ul class="nb-nav__ul2">
        <li>
          <a class="nb-nav__a2" href="/faq_student/">Students</a>
        </li>
        <li>
          <a class="nb-nav__a2" href="/faq_instructor/">Instructors</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="nb-nav__a" href="/tutorial/">Tutorial</a>
    </li>
    <li>
      <a class="nb-nav__a" href="http://nbproject.vanillaforums.com/">Project Forums</a>
    </li>
    <li>
      <a class="nb-nav__a" href="/disclaimer/">Disclaimer</a>
    </li>
    <li class="nb-nav__li--section-end">
      <a class="nb-nav__a" href="/contact/">Contact us</a>
    </li>
    <li>
      <a class="nb-nav__a nb-nav__logout-btn" href="javascript:NB$.concierge.get_component('logout')()">Logout</a>
    </li>
  </ul>
</nav>
<div class="util_windows">
  <!-- Serves as an anchor for various dialog popups such as login, register, invite users, create new class, etc -->
</div>
<div class="nb-viewport">
  <div class="nb-widget-header" style="height:24px;">
    {{!-- <ul>
      <li class="active"><span class="link-style">Home</span></li>
    </ul>
  </div>
  <div id="pers_0" class="perspective">
    <div class="pers-widget" style="height: 439px; width: 210px;">
      <div class="pers-protection">
        <div id="pers_0_1" style="width: 210px; height: 439px; overflow-y: auto;" class="view active-view">
          <div class="tree jstree jstree-0 jstree-focused jstree-default">
            <ul>
              <li title="Home" rel="ensemble" class="jstree-leaf"><ins class="jstree-icon">&nbsp;</ins><a href="#"><ins class="jstree-icon jstree_icon home">&nbsp;</ins><strong>Home</strong></a></li>
              <li title="No description available" rel="ensemble" id_item="1" class="jstree-closed">
                <ins class="jstree-icon">&nbsp;</ins><a href="#"><ins class="jstree-icon jstree_icon admin">&nbsp;</ins>Class 1</a>
                <ul>
                  <li rel="folder" id_item="1" class="jstree-last jstree-leaf"><ins class="jstree-icon">&nbsp;</ins><a href="#"><ins class="jstree-icon">&nbsp;</ins>folder1</a></li>
                </ul>
              </li>
              <li title="None" rel="ensemble" id_item="4" class="jstree-leaf"><ins class="jstree-icon">&nbsp;</ins><a href="#"><ins class="jstree-icon jstree_icon admin">&nbsp;</ins>None</a></li>
              <li title="None" rel="ensemble" id_item="2" class="jstree-leaf"><ins class="jstree-icon">&nbsp;</ins><a href="#"><ins class="jstree-icon jstree_icon admin">&nbsp;</ins>None</a></li>
              <li title="This is classx" rel="ensemble" id_item="3" class="jstree-last jstree-leaf"><ins class="jstree-icon">&nbsp;</ins><a href="#"><ins class="jstree-icon jstree_icon admin">&nbsp;</ins>classx</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="separator ui-draggable ui-draggable-handle" orientation="vertical" style="left: 210px; height: 439px; width: 4px; cursor: col-resize;"></div>
    <div class="pers-widget" style="margin-left: 214px; height: 439px; width: 1004px;">
      <div class="pers-protection">
        <div id="pers_0_2" style="width: 1004px; height: 439px;" class="view filesView">
          <div id="filesView-accordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
            <!--<div  id='filesView-panel-recentfiles' class='filesView-panel'>Recent Files...</div>-->
            <h3 id="filesView-pending-header" class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" aria-controls="filesView-panel-pending" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">You have <span id="filesView-pending-header-total">0</span> feedback request<span id="filesView-pending-header-plural"></span>.</a></h3>
            <div id="filesView-panel-pending" class="filesView-panel ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" aria-labelledby="filesView-pending-header" role="tabpanel" aria-hidden="true" style="display: none; height: 0px;">
              <div id="filesView-pending-list"></div>
            </div>
            <h3 id="filesView-question-header" class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" aria-controls="filesView-panel-question" aria-selected="false" aria-expanded="false" tabindex="-1">
              <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
              <a href="#">
                Your classmates have <span id="filesView-question-header-total"> no </span> pending question<span id="filesView-question-header-plural">s</span>. <span id="filesView-question-header-help" style="display: none;">Can you help them ?</span> <!--<a id='filesView-allquestions-link'>View all</a>-->
              </a>
            </h3>
            <div id="filesView-panel-question" class="filesView-panel ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none; height: 0px;" aria-labelledby="filesView-question-header" role="tabpanel" aria-hidden="true">
              <div id="filesView-question-list"></div>
            </div>
          </div>
        </div>
      </div>
    </div> --}}
  </div>
</div>

{{!-- <div id="content_main" class="{{main-content-class2}}"">
  {% block content %}{% endblock %}
</div> --}}
<!-- .util_windows will be returned by pers.js and used by files.js (and perhaps a bunch of other places) to append items to the page e.g. the modal for creating a new class. -->
{{!-- <div class="util_windows">
</div> --}}

{{!-- <footer class="footer">
  <p class="footer__p">
    <a class="footer__logo" href="/">nb</a> is a project of the  <a href="http://groups.csail.mit.edu/haystack">Haystack</a> Group at <a href="http://web.mit.edu">MIT</a> and currently works with <a href="http://www.mozilla.com/en-US/firefox/personal.html">Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a> , <a href="http://www.google.com/chrome">Chrome</a> and   <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie">IE9</a>
  </p>
  <p class="footer__p">
    <a href="http://www.twitter.com/planet_nb">Follow us on Twitter</a>
  </p>
</footer> --}}