*.pyc
*~
#*
*#
.project
.pydevproject
apps/apache/django.wsgi
apps/nbsite/errors.log
apps/nbsite/settings_credentials.py
apps/nbsite/scrolling.log
conf/nb_apache.conf
conf/nb_crontab
content/compiled
content/ui/admin/conf_local.js
content/data
content/.settings
node_modules/
apps/testwrite
.DS_Store
db_dumps/
.idea/
