*.pyc
*~
.project
.pydevproject
apps/apache/django.wsgi
apps/nbsite/settings_credentials.py
conf/nb_apache
conf/nb_crontab
content/compiled
content/ui/admin/conf_local.js
content/data
content/.settings
