#errorText {
	padding-left: 10px;
	color: red;
}

#outer {
	padding-top: 5%;
}

.form-signin {
        max-width: 400px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #FFFFC9;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }

.fileinput-button {
  position: relative;
  overflow: hidden;
}

.userInfo {
  width: 189px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.userInfo img {
  width: 50px;
  height: 50px;
}

#createButton {
  display: block;
}

#yourPic {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 80px;
  line-height: 30px;
  margin: 0;
  font-size: 23px;
  vertical-align: middle;
}