Django>=1.8,<=1.11
django-openid-auth>=0.7
numpy>=1.8.2
psycopg2>=2.4.5
pyPdf>=1.13
python-dateutil>=2.4.2
python-openid>=2.2.5
pytz>=2014.4
xlwt>=0.7.5
google-api-python-client>=1.5
django-cors-headers>=1.1.0

