#taskContainer{		
}
#taskRowTemplate{
	display: none;
}

.editButton {
	position:absolute;
	left:100px;
}

.taskRow{		
	border:1px solid #CCC;
	font-family:'Arial', serif;
	border:5px solid #FFF;
	background-color:#FFD;
	margin:10px;
	box-shadow: 2px 2px 4px #888888;
	position:relative;
	cursor: pointer;


	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.taskRowInner{			
	padding: 8px;
	border:3px solid #EED;
}

.taskComplete{
	border:2px solid #CCCCCC;
	width:30px;
	height:30px;
	display: inline-block;
	vertical-align: middle;
}

.taskComplete img{
	width: 30px;
	height:30px;
	display: inline-block;
	vertical-align: middle;
}

.taskLabel{
	display: inline-block;
	font-weight: bold;
	width: 70%;
	margin: 0;

	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.taskDue{
	display: inline-block;
	font-size:.8em;
	vertical-align: middle;
}

#popContainer{
    background-color: rgba(255, 255, 255, 0.7);    
    position: fixed;
    top: 0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:100;
    display:none;
}

#popup{
	background-color: #CCC;
	border: 5px solid #FFF;
	position: absolute;
	top:50%;
	left:50%;
	width:414px;  /* adjust as per your needs */
	/*height:495px;    adjust as per your needs */
	margin-left:-200px;   /* negative half of width above */
	margin-top:-200px;
	box-shadow: 2px 2px 4px #888888;
}

#taskPopup{
	border: 1px solid black;
}
