#taskContainer{		
	
}
#taskRowTemplate{
	display: none;
}

.taskRow{		
	border:1px solid #CCC;
	height:50px;		
	font-family:'Arial', serif;
	border:5px solid #FFF;
	background-color:#FFD;
	margin:10px;
	box-shadow: 2px 2px 4px #888888;
	position:relative;
	cursor: pointer;
}
.taskRowInner{
	position:absolute;			
	border:3px solid #EED;
	bottom:0;
	top:0;
	left:0;
	right:0;
}

.taskComplete{
	position: absolute;
	left:10px;
	border:2px solid #CCCCCC;
	width:30px;
	height:30px;
	top:5px;

}

.taskLabel{
	position: absolute;			
	left:55px;
	right:100px;
	margin-top:8px;
	font-weight: bold;
}

.taskDue{
	position: absolute;
	right:10px;			
	margin-top:12px;
	font-size:.8em;
}

#taskPopup{
	border: 1px solid black;
}