#taskName {
	font-weight: bold;
	font-family: verdana;
	font-size: 1.5em;
}

#selectedPerson {
	width: 150px;
	height: 150px;
	margin-top: 30px;
	border-style: solid;
	border-width: 1px;
}

#selectedName {
	font-size: 1.1em;
	font-family: verdana;
}

#selectionTable {
	width: 300px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.selectionCell {
	padding: 1px;
}

.selectionPic {
	width: 60px;
	height: 60px;
	display: block;
	border-style: solid;
	border-color: #C9E9FF;
	border-width: 0px;
}

#buttonTable {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 400px;
}

.completeButton {
	margin-left: auto;
	margin-right: auto;
}

#completionWindow {
	width: 400px;
	height: 400px;
	border-style: solid;
	border-width:2px;
	text-align: center;
	padding: 5px;
}﻿
