html, body {
    margin:0;
    padding:0;
    font-family: verdana, sans-serif;
    background-color: #F4F4F4;
}

#content_main,
#header>div,
#footer>div {
    max-width: 950px;
    margin: 0 auto;
}

#content_main {
    background:#FFFFFF;
    padding:100px 30px 10px 30px;
    margin-bottom:20px;
    border: 1px solid #BFBFBF;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    text-align: left;
}


#header {
    margin:0;
    padding:0;
    height:90px;  
    background: #EDEDED;
    border-bottom: 1px #BFBFBF solid;
    box-shadow: 0 2px 2px #DFDFDF;
    position: fixed;
    top: 0; left: 0; width: 100%;
}

#header>div {
    padding: 20px 30px 0 30px;
}

#mainnav {
    margin-left: 150px;
    height:48px;
}

#mainnav > ul { 	
    font-weight: bold;
    font-size:16px;
    list-style-type: none;
    text-align: right;
    overflow:hidden;
    margin-top: 32px;
    height: 20px;
}


#mainnav > ul >li {
    display:inline-block;
    margin-left:8px;
}

#mainnav a{
    text-decoration: none;
    color: #444444;
    height: 48px;
    padding: 0px 10px 0px 10px;
}


#mainnav a:hover{
    color: #4444ff;

}

#footer {
    font-size: small;
    color: #707070;
    font-style: italic
}

#footer>div {
    text-align: center;
}

#footer a:link,
#footer a:visited {
    color: #404080;
}
