html, body {
    margin:0;
    padding:0;
    font-family: 'Nobile', sans-serif;
    background-color: #E6E6DC; /*#F4F4F4;*/
}

#content_main,
#header>div,
#footer>div {
    max-width: 950px;
    margin: 0 auto;
}

#content_main {
    background:#FFFFFF;
    padding:100px 30px 10px 30px;
    margin-bottom:20px;
    border: 1px solid #BFBFBF;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    text-align: left;
}


#header {
    margin:0;
    padding:0;
    height:90px;  
    background: #225566; /*#EDEDED;*/
    /*border-bottom: 1px #BFBFBF solid;*/
    box-shadow: 0 0 5px #034;/*0 2px 2px #DFDFDF;*/
    position: fixed;
    top: 0; left: 0; width: 100%;
}

#header>div {
    padding: 20px 30px 0 30px;
}

a#logo:link,
a#logo:visited,
a#logo:active {
  font-size: 64px;
  font-family: 'Knewave', cursive;
  text-decoration: none;
  color: #FCFCFC;
  text-shadow: 0 0 2px #111;
  line-height: 0.8em;
}

a#logo:hover {
  text-shadow: 0 0 3px #666;
  color: #FFF;
}

#mainnav {
    margin-left: 150px;
    height:48px;
}

#mainnav > ul { 	
    font-weight: bold;
    font-size:16px;
    list-style-type: none;
    text-align: right;
    overflow:hidden;
    margin-top: 32px;
    /*height: 20px;*/
}


#mainnav > ul >li {
    display:inline-block;
    margin-left:8px;
}

#mainnav a:link,
#mainnav a:visited{
    text-decoration: none;
    color: #EECD2B;
    padding: 12px 12px 8px 12px;/*0px 10px 0px 10px;*/
    display: inline-block;
    background-color: #003344;
}
#mainnav a:hover {
    background-color: #16495A;
    color: #FFEA80;
}

#footer {
    font-size: small;
    color: #707070;
    font-style: italic
}

#footer>div {
    text-align: center;
}

a:link,
a:visited {
    color: #034;
}

.column {
  width: 50%;
  text-align: justify;
}
.column>div{
  margin: 0 20px;
}
.column.right {
  float: right;
}
.column.right>div{
  margin-right: 0;
}
.column.left {
  float: left;
  box-shadow: 32px 0 32px -32px #888;
}
.column.left>div{
  margin-left: 0;
}
