html, body {
    margin:0;
    padding:0;
    font-family: 'Nobile', sans-serif;
    background-color: #E6E6DC; /*#F4F4F4;*/
}

#content_main,
header>div,
footer>div {
    max-width: 950px;
    margin: 0 auto;
}

#content_main {
    background:#FFFFFF;
    padding:100px 30px 10px 30px;
    margin-bottom:20px;
    border: 1px solid #BFBFBF;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    text-align: left;
}

header {
    margin:0;
    padding:0;
    height:90px;  
    background: #225566;
    box-shadow: 0 -2px 10px #034;
    position: fixed;
    top: 0; left: 0; width: 100%;
    display: block;
}

header>div {
    padding: 20px 30px 0 30px;
}

header a#logo:link,
header a#logo:visited,
header a#logo:active {
  font-size: 64px;
  font-family: 'Knewave', cursive;
  text-decoration: none;
  color: #FCFCFC;
  text-shadow: 0 0 2px #111;
  line-height: 0.8em;
  float: left;
}

header a#logo:hover {
  text-shadow: 0 0 3px #666;
  color: #FFF;
}

nav.main {
    margin-left: 150px;
    height:48px;
    display: block;
}

nav.main > ul { 	
    font-weight: bold;
    font-size:16px;
    list-style-type: none;
    text-align: right;
    overflow:hidden;
    margin-top: 32px;
    /*height: 20px;*/
}


nav.main > ul >li {
    display:inline-block;
    margin-left:8px;
}

header a:link,
header a:visited{
    text-decoration: none;
    color: #EECD2B;
}

header a:hover {
    color: #FFEA80;
}

nav.main a:link {
    padding: 12px 12px 8px 12px;
    display: inline-block;
    background-color: #003344;
}

nav.main a:hover {
    background-color: #16495A;
}

#login {
    position: fixed;
    top: 0.5em; right: 0.5em;
}

footer {
    font-size: small;
    color: #707070;
    font-style: italic
}

footer>div {
    text-align: center;
}

a:link,
a:visited {
    color: #034;
}

.column {
  width: 50%;
  text-align: justify;
}
.column>div{
  margin: 0 20px;
}
.column.right {
  float: right;
}
.column.right>div{
  margin-right: 0;
}
.column.left {
  float: left;
  box-shadow: 32px 0 32px -32px #888;
}
.column.left>div{
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
  margin-top: 0.25em;
}
