div.filterWizardEmoticon .filter-number {
    width: 3em;
}

div.filterWizardEmoticon .input-error {
    border: 2px solid #F00;
}

div.filterWizardEmoticon .error-message {
    font-weight: bold;
    color: #C11;
}

div.filterWizardEmoticon .emoticonFilter {height:47px;
    width:47px;
    margin:10px;}

div.filterWizardEmoticon .emoticonFilter.curiousClicked{
	content:url('/content/views/emoticons/curious.png');
	background-color: #ccc;	
}	
div.filterWizardEmoticon .emoticonFilter.curiousUnclicked{content:url('/content/views/emoticons/curious.png');}
div.filterWizardEmoticon .emoticonFilter.confusedClicked{
	content:url('/content/views/emoticons/confused.png');
	background-color: #ccc;
}
div.filterWizardEmoticon .emoticonFilter.confusedUnclicked{content:url('/content/views/emoticons/confused.png');}
div.filterWizardEmoticon .emoticonFilter.usefulClicked{
	content:url('/content/views/emoticons/useful.png');
	background-color: #ccc;
}
div.filterWizardEmoticon .emoticonFilter.usefulUnclicked{content:url('/content/views/emoticons/useful.png');}
div.filterWizardEmoticon .emoticonFilter.interestedClicked{
	content:url('/content/views/emoticons/interested.png');
	background-color: #ccc;
}
div.filterWizardEmoticon .emoticonFilter.interestedUnclicked{content:url('/content/views/emoticons/interested.png');}
div.filterWizardEmoticon .emoticon.frustratedClicked{
	content:url('/content/views/emoticons/frustrated.png');
	background-color: #ccc;
}
div.filterWizardEmoticon .emoticonFilter.frustratedUnclicked{content:url('/content/views/emoticons/frustrated.png');}
div.filterWizardEmoticon .emoticonFilter.helpClicked{
	content:url('/content/views/emoticons/help.png');
	background-color: #ccc;
}
div.filterWizardEmoticon .emoticonFilter.helpUnclicked{content:url('/content/views/emoticons/help.png');}
div.filterWizardEmoticon .emoticonFilter.questionClicked{
	content:url('/content/views/emoticons/question.png');
	background-color: #ccc;
}
div.filterWizardEmoticon .emoticonFilter.questionUnclicked{content:url('/content/views/emoticons/question.png');}
div.filterWizardEmoticon .emoticonFilter.ideaClicked{
	content:url('/content/views/emoticons/idea.png');
	background-color: #ccc;
}
div.filterWizardEmoticon .emoticonFilter.ideaUnclicked{content:url('/content/views/emoticons/idea.png');}
