div.filterWizardEmoticon .filter-number {
    width: 3em;
}

div.filterWizardEmoticon .input-error {
    border: 2px solid #F00;
}

div.filterWizardEmoticon .error-message {
    font-weight: bold;
    color: #C11;
}

div.filterWizardEmoticon .emoticonFilter {
    height: 24px;
    box-sizing: content-box;
}

div.filterWizardEmoticon .emoticon.discuss{content:url('/content/views/emoticons/discuss.png');}
div.filterWizardEmoticon .emoticon.examable{content:url('/content/views/emoticons/examable.png');}
div.filterWizardEmoticon .emoticon.learning-goal{content:url('/content/views/emoticons/learning-goal.png');}
div.filterWizardEmoticon .emoticon.real-life{content:url('/content/views/emoticons/making-connections.png');}
div.filterWizardEmoticon .emoticon.study-tool{content:url('/content/views/emoticons/study-tool.png');}
div.filterWizardEmoticon .emoticon.curious{content:url('/content/views/emoticons/curious.png');}
div.filterWizardEmoticon .emoticon.confused{content:url('/content/views/emoticons/confused.png');}
div.filterWizardEmoticon .emoticon.useful{content:url('/content/views/emoticons/useful.png');}
div.filterWizardEmoticon .emoticon.interested{content:url('/content/views/emoticons/interested.png');}
div.filterWizardEmoticon .emoticon.frustrated{content:url('/content/views/emoticons/frustrated.png');}
div.filterWizardEmoticon .emoticon.help{content:url('/content/views/emoticons/help.png');}
div.filterWizardEmoticon .emoticon.question{content:url('/content/views/emoticons/question.png');}
div.filterWizardEmoticon .emoticon.idea{content:url('/content/views/emoticons/idea.png');}
div.filterWizardEmoticon .emoticon.examable{content:url('/content/views/emoticons/examable.png');}
div.filterWizardEmoticon .emoticon.learning-goal{content:url('/content/views/emoticons/learning-goal.png');}
div.filterWizardEmoticon .emoticon.study-tool{content:url('/content/views/emoticons/study-tool.png');}
div.filterWizardEmoticon .emoticon.real-life{content:url('/content/views/emoticons/real-life.png');}


div.filterWizardEmoticon .emoticon.clicked{background-color: #ccc;}


