div.filterWizardEmoticon .filter-number {
    width: 3em;
}

div.filterWizardEmoticon .input-error {
    border: 2px solid #F00;
}

div.filterWizardEmoticon .error-message {
    font-weight: bold;
    color: #C11;
}

div.filterWizardEmoticon .emoticonFilter {
    height: 24px;
    box-sizing: content-box;
}



div.filterWizardEmoticon .emoticon.curiousUnclicked{content:url('/content/views/emoticons/curious.png');}
div.filterWizardEmoticon .emoticon.confusedUnclicked{content:url('/content/views/emoticons/confused.png');}
div.filterWizardEmoticon .emoticon.usefulUnclicked{content:url('/content/views/emoticons/useful.png');}
div.filterWizardEmoticon .emoticon.interestedUnclicked{content:url('/content/views/emoticons/interested.png');}
div.filterWizardEmoticon .emoticon.frustratedUnclicked{content:url('/content/views/emoticons/frustrated.png');}
div.filterWizardEmoticon .emoticon.helpUnclicked{content:url('/content/views/emoticons/help.png');}
div.filterWizardEmoticon .emoticon.questionUnclicked{content:url('/content/views/emoticons/question.png');}
div.filterWizardEmoticon .emoticon.ideaUnclicked{content:url('/content/views/emoticons/idea.png');}



div.filterWizardEmoticon .emoticon.curiousClicked{
	content:url('/content/views/emoticons/curious.png');
	background-color: #ccc;
}
div.filterWizardEmoticon .emoticon.confusedClicked{content:url('/content/views/emoticons/confused.png'); background-color: #ccc;}
div.filterWizardEmoticon .emoticon.usefulClicked{content:url('/content/views/emoticons/useful.png'); background-color: #ccc;}
div.filterWizardEmoticon .emoticon.interestedClicked{content:url('/content/views/emoticons/interested.png'); background-color: #ccc;}
div.filterWizardEmoticon .emoticon.frustratedClicked{content:url('/content/views/emoticons/frustrated.png'); background-color: #ccc;}
div.filterWizardEmoticon .emoticon.helpClicked{content:url('/content/views/emoticons/help.png'); background-color: #ccc;}
div.filterWizardEmoticon .emoticon.questionClicked{content:url('/content/views/emoticons/question.png'); background-color: #ccc;}
div.filterWizardEmoticon .emoticon.ideaClicked{content:url('/content/views/emoticons/idea.png'); background-color: #ccc;}


