{% extends "web/base.html" %}
{% block title %}Contact the NB Team{% endblock %}
{% block css %}
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/base/jquery-ui.css" rel="stylesheet" ></link>
{% endblock %}
{% block style %}
span.ui-icon {
    display: inline-block;
} 
{% endblock %}
{% block content %}
<h1>Contact the NB Team</h1>

<p>
NB started as (and still partly is) a <i>research project</i> at <a href="http://web.mit.edu">MIT</a>. In 2012, it began to transition to a community-supported project based at <a href="http://nbproject.org">http://nbproject.org</a>. <b>Consequently, NB is provided as-is, without any form of warranty. This means, among other things, that NB doesn't have a dedicated support team. </b>
</p>

<p>
However, it has a great community... So if you have questions about NB, please use  our  <a href="http://nbproject.vanillaforums.com">forum</a>. You can also check our <a href="/faq">FAQ</a>. 
</p>

<p>
As a last resort, you can contact the NB team at <a href="mailto:nb-team@csail.mit.edu">nb-team@csail.mit.edu</a>. However, please be aware that your questions will likely be answered much faster if you post them on our  <a href="http://nbproject.vanillaforums.com">forum</a>. </p>

<div style="clear:both;"></div>


{% endblock %}
