{% extends "web/base.html" %}
{% block title %}What's your name ?{% endblock %}
{% block style %}
ul.errorlist{
	color: #ff0000;
	font-weight: bold;
	list-style: none;	
}
#differences{
margin: 20px;
padding: 10px;
border: thin solid #c0c0c0;
color: #707070; 	
}

#intro{
margin: 20px;
padding: 10px;
color: #505050; 	
}

#form{
margin: 20px;
padding: 10px;
font-size: large; 	
}

{% endblock %} 
{% block content %}
  <div id="intro">
  <h1>Welcome to the new NB !</h1>
Currently, NB only knows you as <b>{{user_form.instance.email}}</b>. Conversations are much more pleasant when people know who they're talking to. 
  </div>
  <div id="form">
  <b>Hence, please take a few moments to enter your...</b>.  
  
    <form action="" method="post">
      <table>
	{% for field in user_form %}
	
	<tr>
        <td>{{ field.label_tag }} </td>  <td>{{ field}}</td>{% if field.errors %}<td>{{ field.errors}}</td>	{% endif %}

	</tr>
	
        {% endfor %}  
	
      </table>
          {{ user_form.non_field_errors }} 
               
<div><input style="margin-top: 10px", type="submit" value="Send" /></div>	   
    </form>
    </div>  
  



{% endblock %}

