{% extends "web/base.html" %}
{% block title %}Sample FB login page{% endblock %}
{% block content %}
<h1> Sample FB Login page</h1>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
  appId      : '508762235817123', // App ID
  channelUrl : '//nb.mit.edu/nbchannel', // Channel File
  status     : true, // check login status
  cookie     : true, // enable cookies to allow the server to access the session
  xfbml      : true  // parse XFBML
  });
  };
  // Load the SDK Asynchronously
  (function(d){
  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  ref.parentNode.insertBefore(js, ref);
  }(document));
</script>
<script>
  function fb_login(){
  FB.login(function(response){
  if (response.authResponse) {
  console.log('Welcome!  Fetching your information.... ');
  FB.api('/me', function(response) {
  console.log('Good to see you, ' + response.name + '.');
  });
  } else {
  console.log('User cancelled login or did not fully authorize.');
  }
}, {scope: "email"});
  
}
</script>


<div class="fb-login-button" scope="email,user_checkins">
  Login with Facebook
</div>

<a href="javascript:fb_login()"> Login w/ FB</a>


{% endblock %}
