{% extends "web/base.html" %}
{% block title %}NB Help and Tutorial{% endblock %}
{% block css %}
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/base/jquery-ui.css" rel="stylesheet" ></link>
{% endblock %}
{% block style %}
span.ui-icon {
    display: inline-block;
} 
{% endblock %}
{% block content %}
<h1>NB Help and Tutorial (work in progress)</h1>

<i>NB is a web-based forum that lets you collaborate on top of any PDF document.</i>

If you have questions about NB, please visit our <a href="https://github.com/nbproject/nbproject/wiki/FAQ">FAQ</a> and our <a href="http://nbproject.vanillaforums.com">forum</a>. 

 
<div class="column left"><div>
  <h2>Readers and Students...</h2>
  <h3>Navigating across a PDF and its discussions</h3>
<ul>
<li>Use your mouse or the <span class="ui-icon ui-icon-circle-triangle-w"></span> and <span class="ui-icon ui-icon-circle-triangle-e" ></span> keys to move from discussion to discussion.</li>
<li>Use your mouse or the  <span class="ui-icon ui-icon-circle-triangle-n"></span> and  <span class="ui-icon ui-icon-circle-triangle-s"></span> keys to scroll up and down the document.</li>
</ul>

<h3>Authoring Posts</h3>
<ul>
<li>Drag you mouse across any region on the pdf to create a new discussion on top of that region</li>
<li>To post a reply: Click on the <a href="">Reply</a> link right next to the comment that you wish to reply to, or right-click on that comment and choose "Reply" from the context menu.</li>
</ul>

</div></div>

<div class="column right"><div>
  <h2>Teaching staff...</h2>
  <p>
	To learn more about using NB with teaching, check out the <a href="http://scripts.mit.edu/~sacha/nb/main.py?a=staff2">teaching staff tutorial</a>.
  </p>

</div></div>

<div style="clear:both;"></div>


{% endblock %}
