{% extends "web/base.html" %}
{% block title %}NB News{% endblock %}
{% block style %}
span.ui-icon {
    display: inline-block;
} 
{% endblock %}
{% block content %}
<h1>NB News on Twitter</h1>

<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('planet_nb').start();

</script>

{% endblock %}
