{% extends "web/base.html" %}
{% block title %}NB password reminder{% endblock %}

{% block css %}
{% endblock %}
{% block style %}

.email{
font-size: large;
}

.error-msg{
display: none;
color: #FF0000;
font-weight: bold;
}

#success{
display: none;
}
{% endblock %}

{% block js %}   
<script type="text/javascript" src="/content/modules/head.js/head_chrome.js"></script> 
<script>
      head.js(
      "/content/modules/dev/mods2.js",
      "/content/modules/dev/ui.concierge1.js", 
      "/content/compiled/apidev.js", 
      "/content/ui/admin/lost1.js");
    </script>
{% endblock %}


{% block content %}
<h1>Password reminder</h1>

    
      <table id="main">
	<tr class="row">
	  <td>
	    <div class="section" id="form1" label="Lost Password">
	      <table>
		<tr><td>Your email</td><td><input type="text" id="email" /></td></tr>
	      </table>
	      <div align="center">
		<button onclick="NB.lost.onLostButton()" >Send me a password reminder</button> 
		<div class="error-msg"> We're sorry, but <span class="email"></span> is not an valid <span class="n">n</span><span class="b">b</span> user. Please try again</div>
	      </div>
	    </div>
	    
	    <div class="section" id="success" label="Password reminder Sent !" >
	      An password reminder has been sent to:  <span class="email"></span><br/> <span>If you don't see it in a few moments, please check your <b>Spam Folder</b> for messages from <b>NB Password Reminder Bot</b>.</span> 
	    </div>
	  </td>
	</tr>
      </table>
{% endblock %}
