{% extends "web/base.html" %}
{% block title %}Benefits of NB{% endblock %}
{% block style %}
span.n {
    background-color: #A0A0DD;
    color: #F9F650;
    font-family: Trebuchet MS;
    padding-left: 0.2em;
}
span.b {
    background-color: #F9F650;
    color: #A0A0DD;
    font-family: Trebuchet MS;
    padding-right: 0.2em;
}
{% endblock %}
{% block content %}

<h1>How can your class (and yourself)  benefit from <span class="n">n</span><span class="b">b</span> ? </h1>

<h3> <span class="n">n</span><span class="b">b</span> harnesses the wisdom of the class</h3>


<p>
  Students traditionally annotate their lecture material by writing notes in the margins. They also email the staff (or use the class forum) when they have questions about the material.</p>

<p> These practices suffer from many drawbacks. For instance, paper-based notes may get lost or forgotten somewhere. Emailing the faculty requires students to start their email program and explain their question "from scratch". Class forums generally lack visibility.</p>

<p><span class="n">n</span><span class="b">b</span> aims at solving those issues by providing a centralized repository for collaboratively-annotated lecture material.</p>


<p> As staff members,  we often notice the two following phenomenon. First, many questions that students ask could be answered correctly by other students. Second, a single question can be asked many times by different students, by email for instance. Replying to all those emails is tedious, and doesn't benefit the rest of the class, which may also have the same question.

</p> 

<p> <span class="n">n</span><span class="b">b</span> can help solving those issues by harnessing the <em>wisdom of the class</em>. 


With a single click, students can create a (private or public) annotation anywhere in the margins of the course material. While reading, students can see each others' (public) annotations and respond to them, answering questions, correcting errors, asking for elaboration, or simply 'seconding' requests for answers. </p>

<p> At the same time, <span class="n">n</span><span class="b">b</span>  enhances faculty-student communication by creating a channel that simplifies questioning by students, and lets faculty place answers on the lecture notes where all students can see them.
</p>

<h3> <span class="n">n</span><span class="b">b</span> provides valuable feedback</h3>
<span class="n">n</span><span class="b">b</span> aggregates annotation behavior to provide feedback to faculty and staff about which material has been annotated. This can be used by the faculty in many creative ways. For example, the faculty can instantly see which material is posing the greatest challenge to students, or which questions are still pending. Hence, <span class="n">n</span><span class="b">b</span> helps them take the most appropriate action. 

<h3> Create a site for your class on <span class="n">n</span><span class="b">b</span> right now !  </h3>
<ul>
	<li>If you're already an NB user, just visit <a href="/admin">Your NB admin console</a> to create a new site.</li>
	<li>If not, you can <a href="/newsite">become a new NB user and create a <span class="n">n</span><span class="b">b</span> site</a>.</li>
	<!--<li>If you have an <b>.edu</b> email address, <a href="/newsite">become a new NB user and create a <span class="n">n</span><span class="b">b</span> site</a>.</li>-->
	<!--<li>Don't have an <b>.edu</b> email address ? Please use <a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dEVVc0tqcG1TbXA1RVZKTGg1VjlDWkE6MQ"> this form</a> to request a new site.</a></li>-->
</ul>

<i>As soon as your site is created, you'll be able to upload PDFs and invite participants.</i> 



{% endblock %}
