{% extends "web/base.html" %}
{% block title %}Confirm your subscription to {{ensemble.name}}{% endblock %}
{% block style %}
ul.errorlist{
	color: #ff0000;
	font-weight: bold;
	list-style: none;	
}
{% endblock %} 
{% block content %}

  <h1>Confirm your subscription to {{ensemble.name}}</h1>
  
  <p>Hello {% if user.firstname %} {{user.firstname}}, {% endif %} ({{user.email}})</p>
  <p>Please confirm that you'd like to become a member of the group {{ensemble.name}}, by clicking on the "Confirm" button. 
<form action="" method="post">
    <p><input style="margin-top: 10px", type="submit" value="Confirm" /></p>
    </form>

{% endblock %}

