{% extends "web/base.html" %}
{% block title %}Welcome to NB{% endblock %}

{% block css %}    <link rel="stylesheet" type="text/css" href="/content/ui/classic/login5.css" />{% endblock %}

{% block style %}
{% endblock %}

{% block js %}   
<script type="text/javascript" src="/content/modules/head.js/head_chrome.js"></script> 
<script>
  head.js(
  "/content/modules/dev/mods2.js",
  "/content/modules/dev/ui.concierge1.js", 
  "/content/compiled/apidev.js", 
  "/content/ui/admin/conf.js", 
  "/content/modules/dev/pers2.js", 
  "/content/ui/admin/login2.js", 
  function(){$(function(){$("div.section").each(NB.dom.addSection);NB.pers.params = NB.dom.getParams();  NB.pers.preinit(false);});}
  );
</script>
{% endblock %}
{% block content %}
<div align="center">
  <table id="main">
    <tr class="row">
      <td colspan="3">
	<div id="features" class="section" label="Features">
	  <div>
	    <p>With <span class="n">n</span><span class="b">b</span>, you can annotate course material online, either for yourself, or to discuss it with the class.</p>
	    
	    <ul class="features_list">
	      <li> Did you notice something interesting ? <div class="suggestion">Jot a note for others to read...</div></li>
	      <li> Do you have a question ? <div class="suggestion">Jot it down to get an answer...</div></li>
	      <li> Did you see a question you can answer ?<div class="suggestion"> Right-click on it to post an answer...</div></li>
	      <li> Do you like or dislike a note ? <div class="suggestion">Moderate it up or down...</div></li>
	    </ul>	  
 	  </div>
	</div>
      </td>
      <td colspan="3">
	<div align="center">
	  <object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=7370219&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=7370219&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object>
	</div>
      </td>      
    </tr>
    <tr class="row">
      <td colspan="2">
	<div id="apply" class="section" label="For Teaching Staff">
	  <ul>
	    <li><a href="/staff_benefits">See how</a> you can benefit from <span class="n">n</span><span class="b">b</span>.</li>
	    <li><a href="/newsite">Create a new <span class="n">n</span><span class="b">b</span> site now</a></li>
	    <li>Take a 5-minute <a href="http://scripts.mit.edu/~sacha/nb/main.py?a=staff2"> tutorial</a></li>
	    <li>Already a user ? Access your <a href="/admin">Staff Console</a></li>

	  </ul>
	</div>

      </td>
      <td colspan="2" >
	<div id="sandbox" class="section" label="Give it a try now">
	  <div>
	    <div align="center"><a href="http://nb.mit.edu?ckey=sScTIoymrSAvfAWvCIvXxPBkdpFpyPMRqdG7A8bw9f1boSO7Wh"><img border="0" alt="sandbox" src="/content/data/icons/png/sandbox.png"/></a></div>
	    <span class="courtesy">Material courtesy:  <a href="http://people.csail.mit.edu/meyer/">Professor Albert Meyer</a></span>
	    <br/> 
	    <span class="caution">Notes in the sandbox may be discarded.</span>
	  </div>
	</div>

	
      </td>
      <td colspan="2" >
	<div class="section" label="Login">
	  <div id="auth_fragment"></div>
	  <button id="auth_submit">OK</button>
	</div>	
      </td>
    </tr>
  </table>
  
</div>
{% endblock %}
