#settings_panel li{
list-style: none;
margin-top: 30px;
}

#settings_panel td{
padding-right: 30px;
}

#settings_panel button{
margin-right: 40px;
}



div.settings-section-title{
font-size: large;
color: #4090c0;
font-weight: bold;
}


div.settings-section-body{
margin-left: 20px;
}

div.buttons{
margin-left: 40px;
margin-top: 30px;
}