#settings_panel li
{
    margin-top: 30px;

    list-style: none;
}

#settings_panel td
{
    padding-right: 30px;
}

#settings_panel button
{
    margin-right: 40px;
}



div.settings-section-title
{
    font-size: large;
    font-weight: bold;

    color: #4090c0;
}


div.settings-section-body
{
    margin-left: 20px;
}

div.buttons
{
    margin-top: 30px;
    margin-left: 40px;
}
