<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><link rel="shortcut icon" href="https://ssl.gstatic.com/docs/spreadsheets/forms/favicon_jfk.png" type="image/x-icon">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>Use of the NB annotation system this semester. </title>

<link href="/content/data/css/779923916-published_form_compiled.css" type="text/css" rel="stylesheet">
</head>
<body class="ss-base-body" dir="ltr">
<div class="ss-form-container">
<div class="ss-form-heading"><h1 class="ss-form-title">Use of the NB annotation system this semester. </h1>
<p></p>
<div class="ss-form-desc ss-no-ignore-whitespace">Dear {{user.firstname}}, <br>Thanks for your feedback ! Please feel free to 
complete as few or as many questions as you wish ! 

You responses will only be visible by the NB research team. If we need 
to quote some of your answers (for research publications for instance), 
those quotes will preserve your anonymity</div>

<hr class="ss-email-break" style="display:none;">
</div>
<div class="ss-form"><form action="https://docs.google.com/spreadsheet/formResponse?formkey=dDBnOWxUSlhwblJMcFZFeG1na3JtR3c6MQ&amp;ifq" method="POST" id="ss-form">

<br>
<div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Your general impressions on using NB this term</h2>
<div class="ss-section-description ss-no-ignore-whitespace"></div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">Overall, how satisfied were you with using NB this semester ? 
</label>
<label class="ss-q-help" for="entry_0"></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_0_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_0_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_0_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_0_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_0_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_0_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_0_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">Not at all satisfied</td>
<td class="ss-scalerow"><input name="entry.0.group" value="1" class="ss-q-radio" id="group_0_1" type="radio"></td> <td class="ss-scalerow"><input name="entry.0.group" value="2" class="ss-q-radio" id="group_0_2" type="radio"></td> <td class="ss-scalerow"><input name="entry.0.group" value="3" class="ss-q-radio" id="group_0_3" type="radio"></td> <td class="ss-scalerow"><input name="entry.0.group" value="4" class="ss-q-radio" id="group_0_4" type="radio"></td> <td class="ss-scalerow"><input name="entry.0.group" value="5" class="ss-q-radio" id="group_0_5" type="radio"></td> <td class="ss-scalerow"><input name="entry.0.group" value="6" class="ss-q-radio" id="group_0_6" type="radio"></td> <td class="ss-scalerow"><input name="entry.0.group" value="7" class="ss-q-radio" id="group_0_7" type="radio"></td>
<td class="ss-scalerow ss-rightlabel">Very satisfied</td></tr></tbody></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_3">
</label>
<label class="ss-q-help" for="entry_3">What did you particularely like (if anything) ? </label>
<textarea name="entry.3.single" rows="8" cols="75" class="ss-q-long" id="entry_3"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_5">
</label>
<label class="ss-q-help" for="entry_5">What did you particularely dislike (if anything) ? </label>
<textarea name="entry.5.single" rows="8" cols="75" class="ss-q-long" id="entry_5"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_7">How do you feel that NB impacted your learning this semester ?
</label>
<label class="ss-q-help" for="entry_7"></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_7_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_7_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_7_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_7_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_7_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_7_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_7_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">Very Negatively</td>
<td class="ss-scalerow"><input name="entry.7.group" value="1" class="ss-q-radio" id="group_7_1" type="radio"></td> <td class="ss-scalerow"><input name="entry.7.group" value="2" class="ss-q-radio" id="group_7_2" type="radio"></td> <td class="ss-scalerow"><input name="entry.7.group" value="3" class="ss-q-radio" id="group_7_3" type="radio"></td> <td class="ss-scalerow"><input name="entry.7.group" value="4" class="ss-q-radio" id="group_7_4" type="radio"></td> <td class="ss-scalerow"><input name="entry.7.group" value="5" class="ss-q-radio" id="group_7_5" type="radio"></td> <td class="ss-scalerow"><input name="entry.7.group" value="6" class="ss-q-radio" id="group_7_6" type="radio"></td> <td class="ss-scalerow"><input name="entry.7.group" value="7" class="ss-q-radio" id="group_7_7" type="radio"></td>
<td class="ss-scalerow ss-rightlabel">Very Positively</td></tr></tbody></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_10">
</label>
<label class="ss-q-help" for="entry_10">Could you explain how / why ? </label>
<textarea name="entry.10.single" rows="8" cols="75" class="ss-q-long" id="entry_10"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Part A: About a class without a traditional forum and without NB</h2>
<div class="ss-section-description ss-no-ignore-whitespace">For the 
following three questions, think about a class that you've recently 
taken, and which neither used a traditional forum nor NB. We'll call it 
"class A".

If you didn't take such a class recently, please skip to part B</div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_33">What was the name for class A or its course number ?
</label>
<label class="ss-q-help" for="entry_33"></label>
<input name="entry.33.single" class="ss-q-short" id="entry_33" type="text"></div></div></div>
<br> <div class="ss-item  ss-grid"><div class="ss-form-entry"><label class="ss-q-title" for="entry_43">When you had questions in class A, how often would you...
</label>
<label class="ss-q-help" for="entry_43"></label>
<div class="errorbox-component errorbox-good"><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><table border="0" cellpadding="5" cellspacing="0"><thead><tr><td class="ss-gridnumbers" style="width: 24%;"></td>
<td class="ss-gridnumbers" style="width: 6%;"></td>
<td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Never</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Occasionally</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Often</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Very Often</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Always</label></td>
<td class="ss-gridnumbers" style="width: 6%;"></td></tr></thead>
<tbody><tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Email the instructor</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.44.group" value="Never" class="ss-q-radio" id="group_44_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.44.group" value="Occasionally" class="ss-q-radio" id="group_44_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.44.group" value="Often" class="ss-q-radio" id="group_44_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.44.group" value="Very Often" class="ss-q-radio" id="group_44_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.44.group" value="Always" class="ss-q-radio" id="group_44_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Ask the instructor in person</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.45.group" value="Never" class="ss-q-radio" id="group_45_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.45.group" value="Occasionally" class="ss-q-radio" id="group_45_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.45.group" value="Often" class="ss-q-radio" id="group_45_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.45.group" value="Very Often" class="ss-q-radio" id="group_45_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.45.group" value="Always" class="ss-q-radio" id="group_45_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Email the TA (skip if no TA)</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.46.group" value="Never" class="ss-q-radio" id="group_46_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.46.group" value="Occasionally" class="ss-q-radio" id="group_46_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.46.group" value="Often" class="ss-q-radio" id="group_46_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.46.group" value="Very Often" class="ss-q-radio" id="group_46_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.46.group" value="Always" class="ss-q-radio" id="group_46_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Ask the TA in person (skip if no TA)</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.47.group" value="Never" class="ss-q-radio" id="group_47_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.47.group" value="Occasionally" class="ss-q-radio" id="group_47_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.47.group" value="Often" class="ss-q-radio" id="group_47_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.47.group" value="Very Often" class="ss-q-radio" id="group_47_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.47.group" value="Always" class="ss-q-radio" id="group_47_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Email a classmate</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.48.group" value="Never" class="ss-q-radio" id="group_48_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.48.group" value="Occasionally" class="ss-q-radio" id="group_48_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.48.group" value="Often" class="ss-q-radio" id="group_48_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.48.group" value="Very Often" class="ss-q-radio" id="group_48_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.48.group" value="Always" class="ss-q-radio" id="group_48_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Ask a classmate in person</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.67.group" value="Never" class="ss-q-radio" id="group_67_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.67.group" value="Occasionally" class="ss-q-radio" id="group_67_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.67.group" value="Often" class="ss-q-radio" id="group_67_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.67.group" value="Very Often" class="ss-q-radio" id="group_67_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.67.group" value="Always" class="ss-q-radio" id="group_67_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Not bother to ask</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.68.group" value="Never" class="ss-q-radio" id="group_68_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.68.group" value="Occasionally" class="ss-q-radio" id="group_68_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.68.group" value="Often" class="ss-q-radio" id="group_68_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.68.group" value="Very Often" class="ss-q-radio" id="group_68_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.68.group" value="Always" class="ss-q-radio" id="group_68_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr></tbody></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_22">In class A, would you say that your explanations needs were met...
</label>
<label class="ss-q-help" for="entry_22"></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_22_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_22_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_22_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_22_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_22_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_22_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_22_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">Never</td>
<td class="ss-scalerow"><input name="entry.22.group" value="1" class="ss-q-radio" id="group_22_1" type="radio"></td> <td class="ss-scalerow"><input name="entry.22.group" value="2" class="ss-q-radio" id="group_22_2" type="radio"></td> <td class="ss-scalerow"><input name="entry.22.group" value="3" class="ss-q-radio" id="group_22_3" type="radio"></td> <td class="ss-scalerow"><input name="entry.22.group" value="4" class="ss-q-radio" id="group_22_4" type="radio"></td> <td class="ss-scalerow"><input name="entry.22.group" value="5" class="ss-q-radio" id="group_22_5" type="radio"></td> <td class="ss-scalerow"><input name="entry.22.group" value="6" class="ss-q-radio" id="group_22_6" type="radio"></td> <td class="ss-scalerow"><input name="entry.22.group" value="7" class="ss-q-radio" id="group_22_7" type="radio"></td>
<td class="ss-scalerow ss-rightlabel">Always</td></tr></tbody></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Part B: About a class with a forum but without NB. </h2>
<div class="ss-section-description ss-no-ignore-whitespace">For the 
following four questions, think about a class that you've recently 
taken, and which used a traditional forum but not NB. We'll call it 
"class B".

If you didn't take such a class recently, please skip to part C</div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_24">What was the name for class B or its course number ?
</label>
<label class="ss-q-help" for="entry_24"></label>
<input name="entry.24.single" class="ss-q-short" id="entry_24" type="text"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_39">What forum system did class B use ?
</label>
<label class="ss-q-help" for="entry_39">[examples] Email list, Google Groups, Piazzza, Stellar, Moodle etc...</label>
<input name="entry.39.single" class="ss-q-short" id="entry_39" type="text"></div></div></div>
<br> <div class="ss-item  ss-grid"><div class="ss-form-entry"><label class="ss-q-title" for="entry_87">When you had questions in class B, how often would you...
</label>
<label class="ss-q-help" for="entry_87"></label>
<div class="errorbox-component errorbox-good"><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><table border="0" cellpadding="5" cellspacing="0"><thead><tr><td class="ss-gridnumbers" style="width: 24%;"></td>
<td class="ss-gridnumbers" style="width: 6%;"></td>
<td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Never</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Occasionally</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Often</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Very Often</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Always</label></td>
<td class="ss-gridnumbers" style="width: 6%;"></td></tr></thead>
<tbody><tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Email the instructor</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.88.group" value="Never" class="ss-q-radio" id="group_88_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.88.group" value="Occasionally" class="ss-q-radio" id="group_88_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.88.group" value="Often" class="ss-q-radio" id="group_88_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.88.group" value="Very Often" class="ss-q-radio" id="group_88_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.88.group" value="Always" class="ss-q-radio" id="group_88_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Ask the instructor in person</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.89.group" value="Never" class="ss-q-radio" id="group_89_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.89.group" value="Occasionally" class="ss-q-radio" id="group_89_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.89.group" value="Often" class="ss-q-radio" id="group_89_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.89.group" value="Very Often" class="ss-q-radio" id="group_89_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.89.group" value="Always" class="ss-q-radio" id="group_89_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Email the TA (skip if no TA)</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.90.group" value="Never" class="ss-q-radio" id="group_90_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.90.group" value="Occasionally" class="ss-q-radio" id="group_90_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.90.group" value="Often" class="ss-q-radio" id="group_90_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.90.group" value="Very Often" class="ss-q-radio" id="group_90_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.90.group" value="Always" class="ss-q-radio" id="group_90_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Ask the TA in person (skip if no TA)</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.91.group" value="Never" class="ss-q-radio" id="group_91_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.91.group" value="Occasionally" class="ss-q-radio" id="group_91_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.91.group" value="Often" class="ss-q-radio" id="group_91_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.91.group" value="Very Often" class="ss-q-radio" id="group_91_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.91.group" value="Always" class="ss-q-radio" id="group_91_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Email a classmate</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.92.group" value="Never" class="ss-q-radio" id="group_92_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.92.group" value="Occasionally" class="ss-q-radio" id="group_92_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.92.group" value="Often" class="ss-q-radio" id="group_92_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.92.group" value="Very Often" class="ss-q-radio" id="group_92_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.92.group" value="Always" class="ss-q-radio" id="group_92_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Ask a classmate in person</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.93.group" value="Never" class="ss-q-radio" id="group_93_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.93.group" value="Occasionally" class="ss-q-radio" id="group_93_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.93.group" value="Often" class="ss-q-radio" id="group_93_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.93.group" value="Very Often" class="ss-q-radio" id="group_93_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.93.group" value="Always" class="ss-q-radio" id="group_93_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Not bother to ask</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.94.group" value="Never" class="ss-q-radio" id="group_94_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.94.group" value="Occasionally" class="ss-q-radio" id="group_94_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.94.group" value="Often" class="ss-q-radio" id="group_94_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.94.group" value="Very Often" class="ss-q-radio" id="group_94_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.94.group" value="Always" class="ss-q-radio" id="group_94_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Use the forum</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.95.group" value="Never" class="ss-q-radio" id="group_95_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.95.group" value="Occasionally" class="ss-q-radio" id="group_95_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.95.group" value="Often" class="ss-q-radio" id="group_95_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.95.group" value="Very Often" class="ss-q-radio" id="group_95_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.95.group" value="Always" class="ss-q-radio" id="group_95_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr></tbody></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_31">In class B, would you say that your explanations needs were met...
</label>
<label class="ss-q-help" for="entry_31"></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_31_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_31_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_31_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_31_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_31_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_31_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_31_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">Never</td>
<td class="ss-scalerow"><input name="entry.31.group" value="1" class="ss-q-radio" id="group_31_1" type="radio"></td> <td class="ss-scalerow"><input name="entry.31.group" value="2" class="ss-q-radio" id="group_31_2" type="radio"></td> <td class="ss-scalerow"><input name="entry.31.group" value="3" class="ss-q-radio" id="group_31_3" type="radio"></td> <td class="ss-scalerow"><input name="entry.31.group" value="4" class="ss-q-radio" id="group_31_4" type="radio"></td> <td class="ss-scalerow"><input name="entry.31.group" value="5" class="ss-q-radio" id="group_31_5" type="radio"></td> <td class="ss-scalerow"><input name="entry.31.group" value="6" class="ss-q-radio" id="group_31_6" type="radio"></td> <td class="ss-scalerow"><input name="entry.31.group" value="7" class="ss-q-radio" id="group_31_7" type="radio"></td>
<td class="ss-scalerow ss-rightlabel">Always</td></tr></tbody></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Part C: About a class you took that used NB. </h2>
<div class="ss-section-description ss-no-ignore-whitespace">For the following four questions, think about a class that you've recently taken which used NB. We'll call it "class C".
</div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_35">What was the name for class C or its course number ?
</label>
<label class="ss-q-help" for="entry_35"></label>
<input name="entry.35.single" class="ss-q-short" id="entry_35" type="text"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_96">If any, what other forum system did class C use (besides NB) ?
</label>
<label class="ss-q-help" for="entry_96">[examples] Email list, Google Groups, Piazzza, Stellar, Moodle etc...</label>
<input name="entry.96.single" class="ss-q-short" id="entry_96" type="text"></div></div></div>
<br> <div class="ss-item  ss-grid"><div class="ss-form-entry"><label class="ss-q-title" for="entry_77">When you had questions in class C, how often would you...
</label>
<label class="ss-q-help" for="entry_77"></label>
<div class="errorbox-component errorbox-good"><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><div class="errorbox-good"></div><table border="0" cellpadding="5" cellspacing="0"><thead><tr><td class="ss-gridnumbers" style="width: 24%;"></td>
<td class="ss-gridnumbers" style="width: 6%;"></td>
<td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Never</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Occasionally</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Often</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Very Often</label></td> <td class="ss-gridnumbers" style="width: 12%;"><label class="ss-gridnumber">Always</label></td>
<td class="ss-gridnumbers" style="width: 6%;"></td></tr></thead>
<tbody><tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Email the instructor</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.78.group" value="Never" class="ss-q-radio" id="group_78_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.78.group" value="Occasionally" class="ss-q-radio" id="group_78_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.78.group" value="Often" class="ss-q-radio" id="group_78_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.78.group" value="Very Often" class="ss-q-radio" id="group_78_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.78.group" value="Always" class="ss-q-radio" id="group_78_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Ask the instructor in person</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.79.group" value="Never" class="ss-q-radio" id="group_79_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.79.group" value="Occasionally" class="ss-q-radio" id="group_79_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.79.group" value="Often" class="ss-q-radio" id="group_79_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.79.group" value="Very Often" class="ss-q-radio" id="group_79_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.79.group" value="Always" class="ss-q-radio" id="group_79_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Email the TA (skip if no TA)</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.80.group" value="Never" class="ss-q-radio" id="group_80_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.80.group" value="Occasionally" class="ss-q-radio" id="group_80_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.80.group" value="Often" class="ss-q-radio" id="group_80_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.80.group" value="Very Often" class="ss-q-radio" id="group_80_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.80.group" value="Always" class="ss-q-radio" id="group_80_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Ask the TA in person (skip if no TA)</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.81.group" value="Never" class="ss-q-radio" id="group_81_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.81.group" value="Occasionally" class="ss-q-radio" id="group_81_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.81.group" value="Often" class="ss-q-radio" id="group_81_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.81.group" value="Very Often" class="ss-q-radio" id="group_81_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.81.group" value="Always" class="ss-q-radio" id="group_81_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Email a classmate</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.82.group" value="Never" class="ss-q-radio" id="group_82_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.82.group" value="Occasionally" class="ss-q-radio" id="group_82_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.82.group" value="Often" class="ss-q-radio" id="group_82_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.82.group" value="Very Often" class="ss-q-radio" id="group_82_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.82.group" value="Always" class="ss-q-radio" id="group_82_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Ask a classmate in person</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.83.group" value="Never" class="ss-q-radio" id="group_83_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.83.group" value="Occasionally" class="ss-q-radio" id="group_83_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.83.group" value="Often" class="ss-q-radio" id="group_83_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.83.group" value="Very Often" class="ss-q-radio" id="group_83_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.83.group" value="Always" class="ss-q-radio" id="group_83_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Not bother to ask</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.84.group" value="Never" class="ss-q-radio" id="group_84_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.84.group" value="Occasionally" class="ss-q-radio" id="group_84_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.84.group" value="Often" class="ss-q-radio" id="group_84_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.84.group" value="Very Often" class="ss-q-radio" id="group_84_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.84.group" value="Always" class="ss-q-radio" id="group_84_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-even"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Use NB</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.85.group" value="Never" class="ss-q-radio" id="group_85_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.85.group" value="Occasionally" class="ss-q-radio" id="group_85_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.85.group" value="Often" class="ss-q-radio" id="group_85_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.85.group" value="Very Often" class="ss-q-radio" id="group_85_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.85.group" value="Always" class="ss-q-radio" id="group_85_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr> <tr class="ss-gridrow ss-grid-row-odd"><td class="ss-gridrow ss-leftlabel ss-gridrow-leftlabel" style="width: 24%;">Use another class forum (skip if there wasn't any)</td>
<td class="ss-gridrow" style="width: 6%;"></td>
<td class="ss-gridrow" style="width: 12%;"><input name="entry.86.group" value="Never" class="ss-q-radio" id="group_86_1" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.86.group" value="Occasionally" class="ss-q-radio" id="group_86_2" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.86.group" value="Often" class="ss-q-radio" id="group_86_3" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.86.group" value="Very Often" class="ss-q-radio" id="group_86_4" type="radio"></td> <td class="ss-gridrow" style="width: 12%;"><input name="entry.86.group" value="Always" class="ss-q-radio" id="group_86_5" type="radio"></td>
<td class="ss-gridrow" style="width: 6%;"></td></tr></tbody></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_29">In class C, would you say that your explanations needs were met...
</label>
<label class="ss-q-help" for="entry_29"></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_29_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_29_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_29_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_29_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_29_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_29_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_29_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">Never</td>
<td class="ss-scalerow"><input name="entry.29.group" value="1" class="ss-q-radio" id="group_29_1" type="radio"></td> <td class="ss-scalerow"><input name="entry.29.group" value="2" class="ss-q-radio" id="group_29_2" type="radio"></td> <td class="ss-scalerow"><input name="entry.29.group" value="3" class="ss-q-radio" id="group_29_3" type="radio"></td> <td class="ss-scalerow"><input name="entry.29.group" value="4" class="ss-q-radio" id="group_29_4" type="radio"></td> <td class="ss-scalerow"><input name="entry.29.group" value="5" class="ss-q-radio" id="group_29_5" type="radio"></td> <td class="ss-scalerow"><input name="entry.29.group" value="6" class="ss-q-radio" id="group_29_6" type="radio"></td> <td class="ss-scalerow"><input name="entry.29.group" value="7" class="ss-q-radio" id="group_29_7" type="radio"></td>
<td class="ss-scalerow ss-rightlabel">Always</td></tr></tbody></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Concluding remarks</h2>
<div class="ss-section-description ss-no-ignore-whitespace"></div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Is there anything else you think we should know in order to understand your use of NB ? 
</label>
<label class="ss-q-help" for="entry_42"></label>
<textarea name="entry.42.single" rows="8" cols="75" class="ss-q-long" id="entry_42"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_102">In the future, what else do you wish you could do with NB ? 
</label>
<label class="ss-q-help" for="entry_102"></label>
<textarea name="entry.102.single" rows="8" cols="75" class="ss-q-long" id="entry_102"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text" style="display:none"><div class="ss-form-entry"><label class="ss-q-title" for="entry_103">ckey
</label>
<label class="ss-q-help" for="entry_103"></label>
<input name="entry.103.single" class="ss-q-short" id="entry_103" type="text" value="{{user.confkey}}"></div></div></div>
<br>
<input name="pageNumber" value="0" type="hidden">
<input name="backupCache" value="" type="hidden">


<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input name="submit" value="Submit" type="submit"></div></div></form>
<script type="text/javascript">
      
      (function() {
var divs = document.getElementById('ss-form').
getElementsByTagName('div');
var numDivs = divs.length;
for (var j = 0; j < numDivs; j++) {
if (divs[j].className == 'errorbox-bad') {
divs[j].lastChild.firstChild.lastChild.focus();
return;
}
}
for (var i = 0; i < numDivs; i++) {
var div = divs[i];
if (div.className == 'ss-form-entry' &&
div.firstChild &&
div.firstChild.className == 'ss-q-title') {
div.lastChild.focus();
return;
}
}
})();
      </script></div>
<div class="ss-footer"><div class="ss-attribution"></div>
<div class="ss-legal"><span class="ss-powered-by">Powered by <a href="http://docs.google.com/">Google Docs</a></span>
<span class="ss-terms"><small><a href="https://docs.google.com/spreadsheet/reportabuse?formkey=dDBnOWxUSlhwblJMcFZFeG1na3JtR3c6MQ&amp;source=https%253A%252F%252Fdocs.google.com%252Fspreadsheet%252Fviewform%253Fformkey%253DdDBnOWxUSlhwblJMcFZFeG1na3JtR3c6MQ">Report Abuse</a>
-
<a href="http://www.google.com/accounts/TOS">Terms of Service</a>
-
<a href="http://www.google.com/google-d-s/terms.html">Additional Terms</a></small></span></div></div></div></body></html>
