{% extends "web/base.html" %}
{% block title %}You are logged out{% endblock %}
{% block css %}{% endblock %}
{% block js %}   
<!-- Load in jQuery from CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/%CDN_JQUERY%"></script>
<script>window.jQuery || document.write('<script src="/content/modules/%LOCAL_JQUERY%"><\/script> ')</script>
<script type="text/javascript" src="/content/compiled/logout_NB.js"></script>
{% endblock %}

{% block content %}
<h1>Thanks for visiting the NB site, you are now logged out </h1>
{% endblock %}
