<div id='edit_assignment_dialog' >
  <span>Is this file an assignment ? </span><span class='yesno'>Yes</span><input type='radio' value='1' name='is_assignment'/> <span class='yesno'>No</span><input type='radio' value='0' name='is_assignment' />
  <br>
  <br>
  <div id='assignment_due'>
  	<label for='due_date'>Due on</label> <input id='due_date'/> at <input id='due_time'/>
  </div>
</div>