<footer class="footer">
  <p class="footer__p">
    <a class="footer__logo" href="/">nb</a> is a project of the  <a href="http://groups.csail.mit.edu/haystack">Haystack</a> Group at <a href="http://web.mit.edu">MIT</a> and currently works with <a href="http://www.mozilla.com/en-US/firefox/personal.html">Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a> , <a href="http://www.google.com/chrome">Chrome</a> and   <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie">IE9</a>
  </p>
  <p class="footer__p">
    <a href="http://www.twitter.com/planet_nb">Follow us on Twitter</a>
  </p>
</footer>