<script>
  $("title").html("NB Terms and Conditions");
</script>

<h1>NB Terms and conditions for publicly available sites. </h1>
By registering to the NB service, you acknowledge and accept the following NB Terms and Rules of use: 
<ul>
<li>NB is graciously provided as an "as is" service: We do not provide any guarantee about the NB service. This includes but is not limited to: <ul><li>availability of the service</li><li>confidentiality of the information you've entered on NB</li><li>data loss or alteration</li><li>any consequence due to a misuse of the service by malicious users</li></ul>  </li>
<li>You can't modify or delete any of your comments after a reply has been posted to it. </li>
<li>By default, every note you write is <i>public</i>, which means that anyone on the internet can see it, along with your full name. </li>
<li>Your public notes and any feedback information which you provide us (replies to questionnaires etc...) may be quoted in our research publications, after having been anonymized.</li>
</ul>
