<section>
    <p>With <span class="nb">nb</span>, you can annotate course material online, either for yourself, or to discuss it with the class.</p>

    <div class="suggestion"><div>
      <h3>Make a note.</h3>
      <p>Draw others' attention to something interesting. Click &amp; drag to hilight.</p>
      <img src="/content/data/img/suggest01.png" alt="" />
    </div></div><div class="suggestion"><div>
      <h3>Ask a question.</h3>
      <p>Don't understanding something? Hilight the text and and ask your class about it.</p>
      <img src="/content/data/img/suggest02.png" alt="" />
    </div></div><div class="suggestion"><div>
      <h3>See trouble spots.</h3>
      <p>Know which parts of the material need more attention by seeing where students are confused.</p>
      <img src="/content/data/img/suggest03.png" alt="" />
    </div></div><div class="suggestion"><div>
      <h3>Answer a question.</h3>
      <p>If you see a question and you know the answer, just right click it to answer it.</p>
      <img src="/content/data/img/suggest04.png" alt="" />
    </div></div>

</section>

<section label="Give it a try now">
  <h3>Using NB</h3>
  <div class="video">
    <object width="914" height="514">
      <param name="allowfullscreen" value="true" />
      <param name="wmode" value="transparent" />
      <param name="allowscriptaccess" value="always" />
      <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=7370219&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" />
      <embed src="http://vimeo.com/moogaloop.swf?clip_id=7370219&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed>
    </object>
  </div>
</section>

<section class="sandbox expandable">
  <div class="big-button">
    <a href="http://nb.mit.edu?ckey=sScTIoymrSAvfAWvCIvXxPBkdpFpyPMRqdG7A8bw9f1boSO7Wh">nb sandbox</a>
  </div>
      <div class="desc">
    <span class="courtesy">Material courtesy:  <a href="http://people.csail.mit.edu/meyer/">Professor Albert Meyer</a></span>
    <span class="caution">Notes in the sandbox may be discarded.</span>
  </div>
</section>

<section class="expandable" id="apply" label="Teach with NB">
    <div class="big-button"><a href="/newsite">Create a new group</a></div>
    <div class="desc">
        <span>If you already have an nb account, <a href="/login">log in</a> instead and add an additional site from the <a href="/">admin page</a>.</span>
    </div>
</section>
